/*====> Phenix Custom Fonts <====*/
@font-face {
    font-family: 'Dubai';
    src: url('dubai/regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dubai';
    src: url('dubai/light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dubai';
    src: url('dubai/medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dubai';
    src: url('dubai/bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}