/*====> Phenix Custom Fonts <====*/
@font-face {
    font-family: 'GE SS Two';
    src: url('ge-ss-two/medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GE SS Two';
    src: url('ge-ss-two/light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GE SS Two';
    src: url('ge-ss-two/medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GE SS Two';
    src: url('ge-ss-two/bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
