@font-face {
    font-family: 'SpaceColony';
    src: url('SpaceColony/extra-light.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'SpaceColony';
    src: url('SpaceColony/light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'SpaceColony';
    src: url('SpaceColony/medium.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'SpaceColony';
    src: url('SpaceColony/medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'SpaceColony';
    src: url('SpaceColony/semi-bold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'SpaceColony';
    src: url('SpaceColony/bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap
}