@font-face {
    font-family: 'Tactic Sans';
    src: url('tactic-sans/TacticSans-Blk.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Tactic Sans';
    src: url('tactic-sans/TacticSans-Med.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Tactic Sans Ultra';
    src: url('tactic-sans/TacticSans-Ult.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tactic Sans Ultra';
    src: url('tactic-sans/TacticSans-UltIt.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Tactic Sans';
    src: url('tactic-sans/TacticSans-MedIt.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Tactic Sans';
    src: url('tactic-sans/TacticSans-BldIt.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Tactic Sans';
    src: url('tactic-sans/TacticSans-Thn.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Tactic Sans';
    src: url('tactic-sans/TacticSans-Lgt.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Tactic Sans';
    src: url('tactic-sans/TacticSans-Bld.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Tactic Sans';
    src: url('tactic-sans/TacticSans-RegIt.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Tactic Sans';
    src: url('tactic-sans/TacticSans-ThnIt.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Tactic Sans';
    src: url('tactic-sans/TacticSans-BlkIt.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Tactic Sans';
    src: url('tactic-sans/TacticSans-LgtIt.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Tactic Sans';
    src: url('tactic-sans/TacticSans-Reg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
