{
    "plugins": [
        "react",
        "reactDOM"
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "mocha": true
    },
    "extends": ["eslint:all", "plugin:react/all"],
    "rules": {
        "quotes": "off",
        "semi": [2, "always"],
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error",
        "indent": ["error", 2],
        "object-curly-spacing": ["error", "always"],
        "max-len": ["error", {
            "code": 100
        }],
        "no-multi-spaces": "error"
    },
    "settings": {
        "react": {
            "version": "16.3"
        }
    }
}