# Folders
.vscode/
docs-src/.vitepress/cache
node_modules/
node_modules.rar
_tools/
dev.code-workspace
_pdb-assets/
.cursorignore
.cursor
# Documentation
PR.md
.windsurfrules
Rules.md
dev.code-workspace
Phenix-2.0-Roadmap.md
docs
docs-src
new-bugs.csv
