/**======> Reference <======
 * ===> 01 - Logical Properties
 * ===> 02 - Other Mixin & Functions
 * ===> 03 - Responsive Breakpoints
*/

//====> Logical Properties <====//
@import './mixin/margin';
@import './mixin/padding';

//====> Other Mixin & Functions <====//
@import './mixin/other';
@import './mixin/grid-gap';

//====> Responsive Breakpoints [Always Last Line] <====//
@import './mixin/breakpoints';

/*==== Define CSS Properties ====*/
@property --gradient-rotation {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

@property --background {
    syntax: '<color>';
    initial-value: rgba(255,255,255, 0);
    inherits: false;
}

@property --border-color {
    syntax: '<color>';
    initial-value: rgba(255,255,255, 0);
    inherits: false;
}
