/*====> Phenix Custom Fonts <====*/
/* @font-face {
    font-family: 'Tarek V';
    src: url('../webfonts/tarekv/regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tarek V';
    src: url('../webfonts/tarekv/medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tarek V';
    src: url('../webfonts/tarekv/semi-bold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tarek V';
    src: url('../webfonts/tarekv/bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
} */
