/**======> Reference By Comment <======
 * ===> 01 - Borders Style
 * ===> 02 - Borders Size
 * ===> 03 - Dividers 
 * ===> 04 - Radius 
 * ===> 05 - Grouping 
*/

/*==== Dividers ====*/
[class*="divider"] {
    border-width: 0;
    border-style: solid;
    &:not([class*="border-"]) { border-color: rgba(#000, 0.1); }
}

.divider-b, .divider-y {border-bottom-width: #{REM(1)};}
.divider-t, .divider-y {border-top-width: #{REM(1)};}
.divider-s, .divider-x {border-#{$direction-start}-width: #{REM(1)};}
.divider-e, .divider-x {border-#{$direction-end}-width: #{REM(1)};}
.divider-b:last-child {border-width: 0;}

/*==== Borders Style ====*/
.border-reset  {border-width: 0;}
.border-solid  {border-style: solid;}
.border-dashed {border-style: dashed;}
.border-dotted {border-style: dotted;}

/*==== Borders Size ====*/
@mixin make-borders ($infix:'') {
    /*==== All ====*/
    .border#{$infix}-1 {border-width: #{REM(1)};}
    .border#{$infix}-2 {border-width: #{REM(2)};}
    .border#{$infix}-3 {border-width: #{REM(3)};}
    .border#{$infix}-4 {border-width: #{REM(4)};}
    .border#{$infix}-5 {border-width: #{REM(5)};}
    /*==== Bottom ====*/
    .border#{$infix}-bottom-1 {border-bottom-width: #{REM(1)};}
    .border#{$infix}-bottom-2 {border-bottom-width: #{REM(2)};}
    .border#{$infix}-bottom-3 {border-bottom-width: #{REM(3)};}
    .border#{$infix}-bottom-4 {border-bottom-width:  #{REM(4)};}
    .border#{$infix}-bottom-5 {border-bottom-width:  #{REM(5)};}
    /*==== Top ====*/
    .border#{$infix}-top-1 {border-top-width: #{REM(1)};}
    .border#{$infix}-top-2 {border-top-width: #{REM(2)};}
    .border#{$infix}-top-3 {border-top-width: #{REM(3)};}
    .border#{$infix}-top-4 {border-top-width:  #{REM(4)};}
    .border#{$infix}-top-5 {border-top-width:  #{REM(5)};}
    /*==== Start ====*/
    .border#{$infix}-start-1 {border-#{$direction-start}-width: #{REM(1)};}
    .border#{$infix}-start-2 {border-#{$direction-start}-width: #{REM(2)};}
    .border#{$infix}-start-3 {border-#{$direction-start}-width: #{REM(3)};}
    .border#{$infix}-start-4 {border-#{$direction-start}-width:  #{REM(4)};}
    .border#{$infix}-start-5 {border-#{$direction-start}-width:  #{REM(5)};}
    /*==== End ====*/
    .border#{$infix}-end-1 {border-#{$direction-end}-width: #{REM(1)};}
    .border#{$infix}-end-2 {border-#{$direction-end}-width: #{REM(2)};}
    .border#{$infix}-end-3 {border-#{$direction-end}-width: #{REM(3)};}
    .border#{$infix}-end-4 {border-#{$direction-end}-width:  #{REM(4)};}
    .border#{$infix}-end-5 {border-#{$direction-end}-width:  #{REM(5)};}
}

/*==== Base Screen ====*/
.border-top-custom {border-top-width: var(--border-top);}
.border-bottom-custom {border-bottom-width: var(--border-bottom);}
.border-start-custom {border-#{$direction-start}-width: var(--border-start);}
.border-end-custom {border-#{$direction-end}-width: var(--border-end);}
@include make-borders();

/*==== Medium Screen ====*/
@include medium(){
    .border-top-custom { border-top-width: var(--border-top-md, var(--border-top)) };
    .border-bottom-custom { border-bottom-width: var(--border-bottom-md, var(--border-bottom)) };
    .border-start-custom { border-#{$direction-start}-width: var(--border-start-md, var(--border-start)) };
    .border-end-custom { border-#{$direction-end}-width: var(--border-end-md, var(--border-end)) };
    @include make-borders('-md');
};

/*==== Large Screen ====*/
@include large(){
    .border-top-custom { border-top-width: var(--border-top-lg, var(--border-top-md, var(--border-top))) };
    .border-bottom-custom { border-bottom-width: var(--border-bottom-lg, var(--border-bottom-md, var(--border-bottom))) };
    .border-start-custom { border-#{$direction-start}-width: var(--border-start-lg, var(--border-start-md, var(--border-start))) };
    .border-end-custom { border-#{$direction-end}-width: var(--border-end-lg, var(--border-end-md, var(--border-end))) };
    @include make-borders('-lg');
};

/*==== xLarge Screen ====*/
@include xlarge(){
    .border-top-custom { border-top-width: var(--border-top-xl, var(--border-top-lg, var(--border-top-md, var(--border-top)))) };
    .border-bottom-custom { border-bottom-width: var(--border-bottom-xl, var(--border-bottom-lg, var(--border-bottom-md, var(--border-bottom)))) };
    .border-start-custom { border-#{$direction-start}-width: var(--border-start-xl, var(--border-start-lg, var(--border-start-md, var(--border-start)))) };
    .border-end-custom { border-#{$direction-end}-width: var(--border-end-xl, var(--border-end-lg, var(--border-end-md, var(--border-end)))) };
    @include make-borders('-xl');
};

/*==== Radius Utilites ====*/
.radius-sm, .radius-md, .radius-lg, .radius-xl, .radius-xxl, .radius-section-x5,
.radius-none, .radius-circle, .radius-height, .radius-rounded, .radius-custom, .radius-section, .radius-section-x2 {
    border-radius: var(--radius, 0);
}

/*==== Radius Sizes ====*/
.radius-ty      {--radius: #{REM(2)};}
.radius-sm      {--radius: #{REM(4)};}
.radius-md      {--radius: #{REM(6)};}
.radius-lg      {--radius: #{REM(8)};}
.radius-xl      {--radius: #{REM(10)};}
.radius-xxl     {--radius: #{REM(15)};}
.radius-circle  {--radius: 50%;}
.radius-height  {--radius: var(--height);}
.radius-rounded {--radius: #{REM(62)};}
.radius-section {--radius: #{REM(150)};}
.radius-section-x2 {--radius: #{REM(250)};}
.radius-section-x5 {--radius: #{REM(500)};}

/*==== Radius Position ====*/
.radius-top     {border-radius: var(--radius) var(--radius) 0 0;}
.radius-bottom  {border-radius: 0 0 var(--radius) var(--radius);}

.radius-start {
    @if ($direction == 'ltr') {border-radius: var(--radius) 0 0 var(--radius);} 
    @else {border-radius: 0 var(--radius) var(--radius) 0;} 
}

.radius-top-start {
    @if ($direction == 'ltr') {border-radius: var(--radius) 0 0 0;} 
    @else {border-radius: 0 var(--radius) 0 0;} 
}

.radius-bottom-start {
    @if ($direction == 'ltr') {border-radius: 0 0 0 var(--radius);} 
    @else {border-radius: 0 0 var(--radius) 0;}
}

.radius-end {
    @if ($direction == 'ltr') {border-radius: 0 var(--radius) var(--radius) 0;} 
    @else {border-radius: var(--radius) 0 0 var(--radius);} 
}

.radius-top-end {
    @if ($direction == 'ltr') {border-radius: 0 var(--radius) 0 0;} 
    @else {border-radius: var(--radius) 0 0 0;} 
}

.radius-bottom-end {
    @if ($direction == 'ltr') {border-radius: 0 0 0 var(--radius);} 
    @else {border-radius: 0 0 var(--radius) 0;} 
}

/*==== Grouping ====*/
.px-group {
    /*==== Flex Grid ====*/
    @extend .flexbox;
    
    /*==== First Child ====*/
    > *:nth-child(1) ,> *:nth-child(1) > .form-control {
        @if ($direction == 'ltr') {border-radius: var(--radius) 0 0 var(--radius);}
        @else {border-radius: 0 var(--radius) var(--radius) 0;}
    }
    /*==== Last Child ====*/
    > *:nth-last-child(1), > *:nth-last-child(1) > .form-control {
        @if ($direction == 'rtl') {border-radius: var(--radius) 0 0 var(--radius);}
        @else {border-radius: 0 var(--radius) var(--radius) 0;}
    }
    /*==== Middle Child's ====*/
    > *:not(:nth-child(1)):not(:nth-last-child(1)):not(.px-dropdown-list),
    > *:not(:nth-child(1)):not(:nth-last-child(1)):not(.px-dropdown-list) > .form-control {border-radius: 0;}

    /*==== Vertical ====*/
    &.px-group-v {
        flex-flow: column;
        > *:nth-child(1) {@extend .radius-top;}
        > *:nth-last-child(1) {@extend .radius-bottom;}
    }
}
