/**======> Reference By Comment <======
 * ===> 01 - 
*/

/*==== Transition ====*/
.transition-fast {@extend %fast-motion;}
.transition-smooth {@extend %smooth-motion;}
.transition-slow {@extend %slow-motion;}
[class*="pds-hvr"] {transition: all 0.3s;}

/*==== Scrolling Effects ====*/
.px-section-snap {
    overflow-y: auto;
    scroll-snap-align: start;
    scroll-snap-type: y mandatory;
}

/*==== Scaling Hover Effects ====*/
[class*="pds-hvr-scale"], .pds-hvr-scale-05 {transition: all 0.3s;}

.pds-hvr-scale-05:hover {transform: scale(1.05);}
.pds-hvr-scale-10:hover {transform: scale(1.10);}
.pds-hvr-scale-15:hover {transform: scale(1.15);}
.pds-hvr-scale-25:hover {transform: scale(1.25);}
.pds-hvr-scale--05:hover {transform: scale(0.95);}
.pds-hvr-scale--10:hover {transform: scale(0.90);}
.pds-hvr-scale--15:hover {transform: scale(0.85);}
.pds-hvr-scale--25:hover {transform: scale(0.75);}

/*==== Background Hover Effects ====*/
.pds-hvr-gradient-move, .pds-hvr-gradient-move-revert {
    background-size: 100%;
    background-position: 0 0;
}

.pds-hvr-gradient-move:hover {background-size: 300%;}
.pds-hvr-gradient-move-revert:hover {background-size: 200%; background-position: 100% 0;}

/*==== Attention ====*/
// *:has(> .pds-hvr-highlight) > * {transition: opacity 0.3s ease-in-out;}
// *:has(> .pds-hvr-highlight:is(:hover)) > *:not(.pds-hvr-highlight)  {opacity: 0.5;}

/*==== Floating Effect ====*/
.pds-hvr-floating:hover, .pds-animate-floating {animation: floating 2s ease-in-out infinite;}

/*==== Ringing Effect ====*/
.pds-hvr-ringing:hover {animation: shaking 0.5s ease-in-out;}
.pds-animate-ringing   {animation: shakingInf 3s ease-in-out infinite;}

/*==== Hover Effects ====*/
.pds-hvr-tada:hover    {animation: tada 0.7s ease-in-out;}
.pds-hvr-flash:hover   {animation: flash 0.7s ease-in-out;}
.pds-hvr-pulse:hover   {animation: pulse 0.3s ease-in-out;}
.pds-hvr-jello:hover   {animation: jello 0.7s ease-in-out;}
.pds-hvr-shakeY:hover  {animation: shakeY 0.7s ease-in-out;}
.pds-hvr-shakeX:hover  {animation: shakeX 0.7s ease-in-out;}
.pds-hvr-bounce:hover  {animation: bounce 1s ease-in-out;}
.pds-hvr-rubberBand:hover {animation: rubberBand 0.7s ease-in-out;}
.bg-hvr-gradient-rotation {animation: gradient-rotation 1s linear;}

/*==== Background Animations ====*/
.bg-animated-x {
    background-repeat: repeat-x;
    animation: background_x var(--duration, 60s) linear infinite;
}

.bg-animated-y {
    background-repeat: repeat-x;
    animation: background_y var(--duration, 60s) linear infinite;
}

.bg-animated-zoom {animation: bgZoomInOut 30s linear infinite;}
.bg-animated-gradient-rotation {animation: gradient-rotation 10s ease-in-out infinite;}

/*==== Shadows ====*/
[class*="bx-shadow"] {
    box-shadow: var(--box-shadow);
    /*==== Fallback ====*/
    --shadow-color-dark: 0,0,0;
    --shadow-color-light: 255,255,255;
}

.bx-shadow-dp-1  {--box-shadow: #{REM(3)} #{REM(3)} #{REM(6)} rgba(var(--shadow-color-dark), 0.1);}
.bx-shadow-dp-2  {--box-shadow: #{REM(5)} #{REM(5)} #{REM(10)} rgba(var(--shadow-color-dark), 0.1);}
.bx-shadow-dp-3  {--box-shadow: 0 0 #{REM(15)} rgba(var(--shadow-color-dark), 0.1);}
.bx-shadow-dp-4  {--box-shadow: #{REM(10)} #{REM(10)} #{REM(20)} rgba(var(--shadow-color-dark), 0.1);}
.bx-shadow-dp-5  {--box-shadow: 0 0 #{REM(30)} rgba(var(--shadow-color-dark), 0.1);}
.bx-shadow-dp-1y {--box-shadow:  -#{REM(5)} #{REM(20)} #{REM(10)} -#{REM(20)} rgba(var(--shadow-color-dark), 0.15);}
.bx-shadow-dp-2y {--box-shadow:  -#{REM(5)} #{REM(19)} #{REM(15)} -#{REM(10)} rgba(var(--shadow-color-dark), 0.15);}

//====> TailWind Shadows <====//
.bx-shadow-tw     {--box-shadow: 0px #{REM(1)} #{REM(3)} rgba(var(--shadow-color-dark), 0.1), 0px #{REM(1)} #{REM(2)} -#{REM(1)} rgba(var(--shadow-color-dark), 0.1);}
.bx-shadow-tw-sm  {--box-shadow: 0px #{REM(1)} #{REM(2)} rgba(var(--shadow-color-dark), 0.05);}
.bx-shadow-tw-md  {--box-shadow: 0px #{REM(4)} #{REM(6)} -#{REM(1)} rgba(var(--shadow-color-dark), 0.1), 0px #{REM(2)} #{REM(4)} -#{REM(2)} rgba(var(--shadow-color-dark), 0.1);}
.bx-shadow-tw-lg  {--box-shadow: 0px #{REM(10)} #{REM(15)} -#{REM(3)} rgba(var(--shadow-color-dark), 0.1), 0px #{REM(4)} #{REM(6)} -#{REM(4)} rgba(var(--shadow-color-dark), 0.1);}
.bx-shadow-tw-xl  {--box-shadow: 0px #{REM(20)} #{REM(25)}  -#{REM(5)} rgba(var(--shadow-color-dark), 0.1), 0px #{REM(8)} #{REM(10)} -#{REM(6)} rgba(var(--shadow-color-dark), 0.1);}
.bx-shadow-tw-2xl {--box-shadow: 0px #{REM(25)} #{REM(50)} -#{REM(12)} rgba(var(--shadow-color-dark), 0.25);}

/*==== Glass Shadows Effects ====*/
[class*="bx-shadow-gls"] {backdrop-filter: blur(2px);}
.bx-shadow-gls-dp-1 {--box-shadow: -#{REM(4)} -#{REM(4)} #{REM(8)} 0px rgba(var(--shadow-color-dark), 0.2) inset, #{REM(3)} #{REM(3)} #{REM(10)} -#{REM(1)} rgba(var(--shadow-color-dark), 0.3), #{REM(1)} #{REM(1)} #{REM(1)} 0px rgba(var(--shadow-color-light), 0.5) inset, -#{REM(1)} -#{REM(1)} 0px 0px rgba(var(--shadow-color-light), 0.3) inset;}
.bx-shadow-gls-dp-2 {--box-shadow: -#{REM(4)} -#{REM(4)} #{REM(12)} 0px rgba(var(--shadow-color-dark), 0.3) inset, #{REM(5)} #{REM(4)} #{REM(15)} 0px rgba(var(--shadow-color-light), 0.3) inset, #{REM(2)} #{REM(4)} #{REM(8)} 0px rgba(var(--shadow-color-dark), 0.4), #{REM(2)} #{REM(2)} #{REM(1)} 0px rgba(var(--shadow-color-light), 0.5) inset, -#{REM(2)} -#{REM(2)} #{REM(1)} 0px rgba(var(--shadow-color-light), 0.3) inset;}
.bx-shadow-gls-dp-3 {--box-shadow: -#{REM(8)} -#{REM(8)} #{REM(12)} 0px rgba(var(--shadow-color-dark), 0.5) inset, #{REM(5)} #{REM(4)} #{REM(15)} 0px rgba(var(--shadow-color-light), 0.3) inset, #{REM(4)} #{REM(8)} #{REM(8)} 0px rgba(var(--shadow-color-dark), 0.4), #{REM(3)} #{REM(3)} #{REM(1)} 0px rgba(var(--shadow-color-light), 0.5) inset, -#{REM(2)} -#{REM(2)} #{REM(1)} 0px rgba(var(--shadow-color-light), 0.3) inset;}

/*==== Text Shadows ====*/
.tx-shadow-dp-1  {text-shadow: #{REM(1)} #{REM(1)} #{REM(2)} rgba(0, 0, 0, 0.1);}
.tx-shadow-dp-2  {text-shadow: #{REM(2)} #{REM(2)} #{REM(3)} rgba(0, 0, 0, 0.15);}
.tx-shadow-dp-3  {text-shadow: 0px #{REM(3)} #{REM(3)} rgba(0, 0, 0, 0.16);}
.tx-shadow-dp-4  {text-shadow: #{REM(10)} #{REM(10)} #{REM(20)} rgba(#000, 0.1);}
.tx-shadow-dp-5  {text-shadow: 0 0 #{REM(30)} rgba(#000, 0.1);}
.tx-shadow-dp-1y {text-shadow:  -#{REM(5)} -#{REM(19)} #{REM(15)} -#{REM(10)} rgba(0, 0, 0, 0.8);}

//====> TailWind Text Shadows <====//
.tx-shadow-tw     {text-shadow: 0px #{REM(1)} #{REM(3)} rgba(#000, 0.1), 0px #{REM(1)} #{REM(2)} -#{REM(1)} rgba(#000, 0.1);}
.tx-shadow-tw-sm  {text-shadow: 0px #{REM(1)} #{REM(2)} rgba(#000, 0.05);}
.tx-shadow-tw-md  {text-shadow: 0px #{REM(4)} #{REM(6)} -#{REM(1)} rgba(#000, 0.1), 0px #{REM(2)} #{REM(4)} -#{REM(2)} rgba(#000, 0.1);}
.tx-shadow-tw-lg  {text-shadow: 0px #{REM(10)} #{REM(15)} -#{REM(3)} rgba(#000, 0.1), 0px #{REM(4)} #{REM(6)} -#{REM(4)} rgba(#000, 0.1);}
.tx-shadow-tw-xl  {text-shadow: 0px #{REM(20)} #{REM(25)}  -#{REM(5)} rgba(#000, 0.1), 0px #{REM(8)} #{REM(10)} -#{REM(6)} rgba(#000, 0.1);}
.tx-shadow-tw-2xl {text-shadow: 0px #{REM(25)} #{REM(50)} -#{REM(12)} rgba(#000, 0.25);}

/*==== Animations Effect ====*/
@keyframes floating {
    0% {transform: translateY(0);}
    50% {transform: translateY(-#{REM(10)});}
    100% {transform: translateY(0);}
}

@keyframes shaking {
    0% {transform: translateX(0);}
    25% {transform: translateX(-#{REM(10)}) rotate(-5deg) scale(1.01);}
    50% {transform: translateX(#{REM(10)}) rotate(5deg) scale(1.03);}
    75% {transform: translateX(-#{REM(10)}) rotate(-5deg) scale(1.05);}
    100% {transform: translateX(0);}
}

@keyframes shakingInf {
    0% {transform: translateX(0);}
    6% {transform: translateX(-#{REM(5)}) rotate(-3deg) scale(1.01);}
    10% {transform: translateX(#{REM(5)}) rotate(3deg) scale(1.03);}
    20% {transform: translateX(-#{REM(5)}) rotate(-3deg) scale(1.05);}
    30% {transform: translateX(0);}
    100% {transform: translateX(0);}
}

@keyframes background_x {
    from {background-position: 0 0;}
    to {background-position: 100% 0;}
}

@keyframes background_y {
    from {background-position: 0 0;}
    to {background-position: 0 100%;}
}

@keyframes gradient-rotation {
    0% {--gradient-rotation: 0deg;}
    100% {--gradient-rotation: 360deg;}
}

@keyframes animate-rotation {
    0% {--rotation: 0deg;}
    100% {--rotation: 360deg;}
}

@keyframes fullWidth {
    from {width: 0%;}
    to {width: 100%;}
}

@keyframes fullHeight {
    from {height: 0%;}
    to {height: 100%;}
}

@keyframes fullHeightVH {
    from {height: 0vh;}
    to {height: 100vh;}
}

@keyframes rotateFull {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
