/**======> Reference By Comment <======
 * ===> 01 - 
*/

/*==== Transition ====*/
.transition-fast {@extend %fast-motion;}
.transition-smooth {@extend %smooth-motion;}
.transition-slow {@extend %slow-motion;}
[class*="pds-hvr"] {transition: all 0.3s;}

/*==== Scrolling Effects ====*/
.px-section-snap {
    overflow-y: auto;
    scroll-snap-align: start;
    scroll-snap-type: y mandatory;
}

/*==== Scaling Hover Effects ====*/
[class*="pds-hvr-scale"], .pds-hvr-scale-05 {transition: all 0.3s;}

.pds-hvr-scale-05:hover {transform: scale(1.05);}
.pds-hvr-scale-10:hover {transform: scale(1.10);}
.pds-hvr-scale-15:hover {transform: scale(1.15);}
.pds-hvr-scale-25:hover {transform: scale(1.25);}
.pds-hvr-scale--05:hover {transform: scale(0.95);}
.pds-hvr-scale--10:hover {transform: scale(0.90);}
.pds-hvr-scale--15:hover {transform: scale(0.85);}
.pds-hvr-scale--25:hover {transform: scale(0.75);}

/*==== Background Hover Effects ====*/
.pds-hvr-gradient-move, .pds-hvr-gradient-move-revert {
    background-size: 100%;
    background-position: 0 0;
}

.pds-hvr-gradient-move:hover {background-size: 300%;}
.pds-hvr-gradient-move-revert:hover {background-size: 200%; background-position: 100% 0;}

/*==== Attention ====*/
// *:has(> .pds-hvr-highlight) > * {transition: opacity 0.3s ease-in-out;}
// *:has(> .pds-hvr-highlight:is(:hover)) > *:not(.pds-hvr-highlight)  {opacity: 0.5;}

/*==== Floating Effect ====*/
.pds-hvr-floating:hover, .pds-animate-floating {animation: floating 2s ease-in-out infinite;}

/*==== Ringing Effect ====*/
.pds-hvr-ringing:hover {animation: shaking 0.5s ease-in-out;}
.pds-animate-ringing   {animation: shakingInf 3s ease-in-out infinite;}

/*==== Hover Effects ====*/
.pds-hvr-tada:hover    {animation: tada 0.7s ease-in-out;}
.pds-hvr-flash:hover   {animation: flash 0.7s ease-in-out;}
.pds-hvr-pulse:hover   {animation: pulse 0.3s ease-in-out;}
.pds-hvr-jello:hover   {animation: jello 0.7s ease-in-out;}
.pds-hvr-shakeY:hover  {animation: shakeY 0.7s ease-in-out;}
.pds-hvr-shakeX:hover  {animation: shakeX 0.7s ease-in-out;}
.pds-hvr-bounce:hover  {animation: bounce 1s ease-in-out;}
.pds-hvr-rubberBand:hover {animation: rubberBand 0.7s ease-in-out;}

/*==== Background Animations ====*/
.bg-animated-x {
    background-repeat: repeat-x;
    animation: background_x var(--duration, 60s) linear infinite;
}

.bg-animated-y {
    background-repeat: repeat-x;
    animation: background_y var(--duration, 60s) linear infinite;
}

.bg-animated-zoom {animation: bgZoomInOut 30s linear infinite;}

/*==== Shadows ====*/
[class*="bx-shadow"] {
    box-shadow: var(--box-shadow);
    /*==== Fallback ====*/
    --shadow-color-dark: 0,0,0;
    --shadow-color-light: 255,255,255;
}

.bx-shadow-dp-1  {--box-shadow: 3px 3px 6px rgba(var(--shadow-color-dark), 0.1);}
.bx-shadow-dp-2  {--box-shadow: 5px 5px 10px rgba(var(--shadow-color-dark), 0.1);}
.bx-shadow-dp-3  {--box-shadow: 0 0 15px rgba(var(--shadow-color-dark), 0.1);}
.bx-shadow-dp-4  {--box-shadow: 10px 10px 20px rgba(var(--shadow-color-dark), 0.1);}
.bx-shadow-dp-5  {--box-shadow: 0 0 30px rgba(var(--shadow-color-dark), 0.1);}
.bx-shadow-dp-1y {--box-shadow: -5px 20px 10px -20px rgba(var(--shadow-color-dark), 0.15);}
.bx-shadow-dp-2y {--box-shadow: -5px 19px 15px -10px rgba(var(--shadow-color-dark), 0.15);}

//====> TailWind Shadows <====//
.bx-shadow-tw     {--box-shadow: 0px 1px 3px rgba(var(--shadow-color-dark), 0.1), 0px 1px 2px -1px rgba(var(--shadow-color-dark), 0.1);}
.bx-shadow-tw-sm  {--box-shadow: 0px 1px 2px rgba(var(--shadow-color-dark), 0.05);}
.bx-shadow-tw-md  {--box-shadow: 0px 4px 6px -1px rgba(var(--shadow-color-dark), 0.1), 0px 2px 4px -2px rgba(var(--shadow-color-dark), 0.1);}
.bx-shadow-tw-lg  {--box-shadow: 0px 10px 15px -3px rgba(var(--shadow-color-dark), 0.1), 0px 4px 6px -4px rgba(var(--shadow-color-dark), 0.1);}
.bx-shadow-tw-xl  {--box-shadow: 0px 20px 25px -5px rgba(var(--shadow-color-dark), 0.1), 0px 8px 10px -6px rgba(var(--shadow-color-dark), 0.1);}
.bx-shadow-tw-2xl {--box-shadow: 0px 25px 50px -12px rgba(var(--shadow-color-dark), 0.25);}

/*==== Glass Shadows Effects ====*/
[class*="bx-shadow-gls"] {backdrop-filter: blur(2px);}
.bx-shadow-gls-dp-1 {--box-shadow: -4px -4px 8px 0px rgba(var(--shadow-color-dark), 0.2) inset, 3px 3px 10px -1px rgba(var(--shadow-color-dark), 0.3), 1px 1px 1px 0px rgba(var(--shadow-color-light), 0.5) inset, -1px -1px 0px 0px rgba(var(--shadow-color-light), 0.3) inset;}
.bx-shadow-gls-dp-2 {--box-shadow: -4px -4px 12px 0px rgba(var(--shadow-color-dark), 0.3) inset, 5px 4px 15px 0px rgba(var(--shadow-color-light), 0.3) inset, 2px 4px 8px 0px rgba(var(--shadow-color-dark), 0.4), 2px 2px 1px 0px rgba(var(--shadow-color-light), 0.5) inset, -2px -2px 1px 0px rgba(var(--shadow-color-light), 0.3) inset;}
.bx-shadow-gls-dp-3 {--box-shadow: -8px -8px 12px 0px rgba(var(--shadow-color-dark), 0.5) inset, 5px 4px 15px 0px rgba(var(--shadow-color-light), 0.3) inset, 4px 8px 8px 0px rgba(var(--shadow-color-dark), 0.4), 3px 3px 1px 0px rgba(var(--shadow-color-light), 0.5) inset, -2px -2px 1px 0px rgba(var(--shadow-color-light), 0.3) inset;}

/*==== Text Shadows ====*/
.tx-shadow-dp-1  {text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);}
.tx-shadow-dp-2  {text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);}
.tx-shadow-dp-3  {text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.16);}
.tx-shadow-dp-4  {text-shadow: 10px 10px 20px rgba(#000, 0.1);}
.tx-shadow-dp-5  {text-shadow: 0 0 30px rgba(#000, 0.1);}
.tx-shadow-dp-1y {text-shadow: -5px 19px 15px -10px rgba(0, 0, 0, 0.8);}

//====> TailWind Text Shadows <====//
.tx-shadow-tw     {text-shadow: 0px 1px 3px rgba(#000, 0.1), 0px 1px 2px -1px rgba(#000, 0.1);}
.tx-shadow-tw-sm  {text-shadow: 0px 1px 2px rgba(#000, 0.05);}
.tx-shadow-tw-md  {text-shadow: 0px 4px 6px -1px rgba(#000, 0.1), 0px 2px 4px -2px rgba(#000, 0.1);}
.tx-shadow-tw-lg  {text-shadow: 0px 10px 15px -3px rgba(#000, 0.1), 0px 4px 6px -4px rgba(#000, 0.1);}
.tx-shadow-tw-xl  {text-shadow: 0px 20px 25px -5px rgba(#000, 0.1), 0px 8px 10px -6px rgba(#000, 0.1);}
.tx-shadow-tw-2xl {text-shadow: 0px 25px 50px -12px rgba(#000, 0.25);}

/*==== Animations Effect ====*/
@keyframes floating {
    0% {transform: translateY(0);}
    50% {transform: translateY(-10px);}
    100% {transform: translateY(0);}
}

@keyframes shaking {
    0% {transform: translateX(0);}
    25% {transform: translateX(-10px) rotate(-5deg) scale(1.01);}
    50% {transform: translateX(10px) rotate(5deg) scale(1.03);}
    75% {transform: translateX(-10px) rotate(-5deg) scale(1.05);}
    100% {transform: translateX(0);}
}

@keyframes shakingInf {
    0% {transform: translateX(0);}
    6% {transform: translateX(-5px) rotate(-3deg) scale(1.01);}
    10% {transform: translateX(5px) rotate(3deg) scale(1.03);}
    20% {transform: translateX(-5px) rotate(-3deg) scale(1.05);}
    30% {transform: translateX(0);}
    100% {transform: translateX(0);}
}

@keyframes background_x {
    from {background-position: 0 0;}
    to {background-position: 100% 0;}
}

@keyframes background_y {
    from {background-position: 0 0;}
    to {background-position: 0 100%;}
}

@keyframes gradient-rotation {
    0% {--gradient-rotation: 0deg;}
    100% {--gradient-rotation: 360deg;}
}

@keyframes animate-rotation {
    0% {--rotation: 0deg;}
    100% {--rotation: 360deg;}
}
