/**======> Reference By Comment <======
 * ===> 01 - Overflow
 * ===> 02 - Float Elements
 * ===> 03 - Overlay Layer
 * ===> 04 - Position
 * ===> 05 - Directions
 * ===> 06 - zIndex
 * ===> 07 - Sticky Elements
 * ===> 08 - Phenix Media
 * ===> 09 - Aspect Ratio
 * ===> 10 - Lazy Loader
 * ===> 11 - Assets
*/

/*==== SASS Selectors ====*/
@import './../assets/selectors';

/*==== Hidden Overflow ====*/
.overflow-hidden   { overflow:   hidden; }
.overflow-y-hidden { overflow-y: hidden; }
.overflow-x-hidden { overflow-x: hidden; }

/*==== Scrollable Overflow ====*/
.overflow-auto   { overflow:   auto; }
.overflow-y-auto { overflow-y: auto; }
.overflow-x-auto { overflow-x: auto; }

/*======== Float Elements ========*/
.float-start { float: $direction-start; }
.float-end   { float: $direction-end; }
.clear-after::after,.clear-fix { clear: both; content: ''; }

/*==== Overlay Layer ====*/
.overlay-dark {
    --opacity: 0.5;
    @extend %overlay;
    &::before {background-color: #000;opacity: var(--opacity);}
}

.overlay-light {
    --opacity: 0.3;
    @extend %overlay;
    &::before {background-color: #FFF;opacity: var(--opacity);}
}

/*==== Directions ====*/
.ltr { direction: ltr!important; }
.rtl { direction: rtl!important; }

/*==== zIndex ====*/
.z-index-header {z-index: var(--header-index);}
.z-index-modal  {z-index: var(--modal-index);}
.z-index-dropdown {z-index: var(--dropdown-index);}
.z-index-1 {z-index: 1;}
.z-index-2 {z-index: 2;}
.z-index-3 {z-index: 3;}
.z-index-4 {z-index: 4;}
.z-index-5 {z-index: 5;}
.z-index-6 {z-index: 6;}
.z-index-7 {z-index: 7;}
.z-index-8 {z-index: 8;}
.z-index-9 {z-index: 9;}
.z-index-10 {z-index: 10;}

/*==== Shadows ====*/
.bx-shadow-dp-1 {-webkit-box-shadow: 3px 3px 6px rgba(#000, 0.06);box-shadow: 3px 3px 6px rgba(#000, 0.06);}
.bx-shadow-dp-2 {-webkit-box-shadow: 5px 5px 10px rgba(#000, 0.1);box-shadow: 5px 5px 10px rgba(#000, 0.1);}
.bx-shadow-dp-3 {-webkit-box-shadow: 0 0 15px rgba(#000, 0.1);box-shadow: 0 0 15px rgba(#000, 0.1);}
.bx-shadow-dp-4 {-webkit-box-shadow: 10px 10px 20px rgba(#000, 0.1);box-shadow: 10px 10px 20px rgba(#000, 0.1);}
.bx-shadow-dp-5 {-webkit-box-shadow: 0 0 30px rgba(#000, 0.1);box-shadow: 0 0 30px rgba(#000, 0.1);}
.bx-shadow-dp-x {-webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.05);box-shadow: 5px 5px 10px rgba(0,0,0,0.05);}

//====> TailWind Shadows <====//
.bx-shadow {-webkit-box-shadow: 0px 1px 3px rgba(#000, 0.1), 0px 1px 2px -1px rgba(#000, 0.1);box-shadow: 0px 1px 3px rgba(#000, 0.1), 0px 1px 2px -1px rgba(#000, 0.1);}
.bx-shadow-sm  {-webkit-box-shadow: 0px 1px 2px rgba(#000, 0.05);box-shadow: 0px 1px 2px rgba(#000, 0.05);}
.bx-shadow-md  {-webkit-box-shadow: 0px 4px 6px -1px rgba(#000, 0.1), 0px 2px 4px -2px rgba(#000, 0.1);box-shadow: 0px 4px 6px -1px rgba(#000, 0.1), 0px 2px 4px -2px rgba(#000, 0.1);}
.bx-shadow-lg  {-webkit-box-shadow: 0px 10px 15px -3px rgba(#000, 0.1), 0px 4px 6px -4px rgba(#000, 0.1);box-shadow: 0px 10px 15px -3px rgba(#000, 0.1), 0px 4px 6px -4px rgba(#000, 0.1);}
.bx-shadow-xl  {-webkit-box-shadow: 0px 20px 25px -5px rgba(#000, 0.1), 0px 8px 10px -6px rgba(#000, 0.1);box-shadow: 0px 20px 25px -5px rgba(#000, 0.1), 0px 8px 10px -6px rgba(#000, 0.1);}
.bx-shadow-xxl {-webkit-box-shadow: 0px 25px 50px -12px rgba(#000, 0.25);box-shadow: 0px 25px 50px -12px rgba(#000, 0.25);}

/*==== Text Shadows ====*/
.tx-shadow-dp-1 {text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);}
.tx-shadow-dp-2 {text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);}
.tx-shadow-dp-3 {text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.16);}
.tx-shadow-dp-4 {text-shadow: 10px 10px 20px rgba(#000, 0.1);}
.tx-shadow-dp-5 {text-shadow: 0 0 30px rgba(#000, 0.1);}
.tx-shadow-dp-x {text-shadow: 5px 5px 10px rgba(0,0,0,0.05);}

//====> TailWind Text Shadows <====//
.tx-shadow {text-shadow: 0px 1px 3px rgba(#000, 0.1), 0px 1px 2px -1px rgba(#000, 0.1);}
.tx-shadow-sm  {text-shadow: 0px 1px 2px rgba(#000, 0.05);}
.tx-shadow-xxl {text-shadow: 0px 25px 50px -12px rgba(#000, 0.25);}
.tx-shadow-md  {text-shadow: 0px 4px 6px -1px rgba(#000, 0.1), 0px 2px 4px -2px rgba(#000, 0.1);}
.tx-shadow-lg  {text-shadow: 0px 10px 15px -3px rgba(#000, 0.1), 0px 4px 6px -4px rgba(#000, 0.1);}
.tx-shadow-xl  {text-shadow: 0px 20px 25px -5px rgba(#000, 0.1), 0px 8px 10px -6px rgba(#000, 0.1);}

/*==== Sticky Elements ====*/
.is-sticky {
    top:0;
    z-index: var(--header-index);
    /*==== Absolute ====*/
    &[data-sticky="absolute"] {position: fixed;}
    /*==== Native ====*/
    [data-sticky="inner"].is-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

/*==== Assets ====*/
.mouse-normal {cursor: none;}
.mouse-pointer {cursor: pointer;}
.links-inherit a {color: inherit;}
.mouse-no-events {pointer-events: none;}
.tx-icon::before {margin-#{$direction-end}: 7px;}

/*==== Custom Scrollbar ====*/
.px-scrollbar:not(html):not(body) {
    overflow: auto;
    --scrollbar-color : var(--gray-color);
    --scrollbar-thumb : var(--dark-color);

    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color) var(--scrollbar-thumb);
    &::-webkit-scrollbar-track {background-color: var(--scrollbar-color);}
    &::-webkit-scrollbar-thumb {background-color: var(--scrollbar-thumb);}
    &::-webkit-scrollbar {
        width: 10px;
        -webkit-box-shadow: inset 1px 0 0 0 1px rgba(#000, 0.1);
                box-shadow: inset 1px 0 0 0 1px rgba(#000, 0.1);
    }
}

/*==== Icons Fix ====*/
.icon-fix, .icon-font-fix::before {
    top: -2px;
    position: relative;
}

/*==== Text Clipping ====*/
.bg-clip-text {
    @extend .color-transparent;
    -webkit-background-clip: text;
        background-clip: text;
}

/*==== Loading Spinner ====*/
.px-loading-inline,.px-loading, .px-loader {
    position: relative;
    &::after {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        display: block;
        position: absolute;
        @extend %spinner-loader;
        -webkit-backdrop-filter: blur(2.5px);
                backdrop-filter: blur(2.5px);
        background-color: rgba(#000, 0.15);
    }
}

/*==== Icons List ====*/
.icons-list li {
    position: relative;
    padding-#{$direction-start}: calc(1em + 8px)!important;
    &::before {
        top: 0;
        position: absolute;
        #{$direction-start}:0;
    }
}

/*=== Tooltips ===*/
[class*="tooltip"] {
    position: relative;
    --title-content: attr(data-title);
    &::after {
        content: var(--title-content);
        position: absolute;
        font-size:12px;
        line-height: 27px;
        @extend %nowrap;
        background:rgba(0,0,0,0.75);
        color:#FFF;
        padding:0 15px;
        border-radius: 5px;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease;
    }
    
    &:hover::after {
        visibility: visible;
        opacity: 1;
    }

    &[class*="tooltip"][title]:not([data-title]) {--title-content: attr(title);}
}

/*==== Default Tooltip ====*/
.tooltip::after {
    left:50%;
    bottom: 100%;
    @extend %position-center-x;
    max-width:300px;
}

/*==== Bottom Tooltip ====*/
.tooltip-bottom::after {
    left:50%;
    top: 100%;
    @extend %position-center-x;
    max-width:300px;
}
