
/*==== Tools ====*/
@import '../assets/mixin';

$space_range : 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;

/*==== Margin All ====*/
@mixin make_margin($infix:'') {
    /*==== Auto Margins ====*/
    .mgx#{$infix}-auto {
        margin-left: auto;
        margin-right: auto;
    }

    .ms#{$infix}-auto {margin-#{$direction-start}: auto;}
    .me#{$infix}-auto {margin-#{$direction-end}: auto;}
    
    /*==== Sizes Range ====*/
    @each $size in $space_range {
        .mg#{$infix}-#{$size},
        .my#{$infix}-#{$size},
        .mt#{$infix}-#{$size} { @include margin-block(#{REM($size)}, 'start');}
        /*==== Margin Bottom ====*/
        .mg#{$infix}-#{$size},
        .my#{$infix}-#{$size},
        .mb#{$infix}-#{$size} { @include margin-block(#{REM($size)}, 'end');}
        /*==== Margin Start ====*/
        .mg#{$infix}-#{$size},
        .mx#{$infix}-#{$size},
        .ms#{$infix}-#{$size} { @include margin-inline(#{REM($size)}, 'start');}
        /*==== Margin End ====*/
        .mg#{$infix}-#{$size},
        .mx#{$infix}-#{$size},
        .me#{$infix}-#{$size} { @include margin-inline(#{REM($size)}, 'end');}
    }
}

/*==== Base Screen ====*/
@include make_margin();

/*==== Medium Screen ====*/
@include medium(){
    @include make_margin('-md');
};

/*==== Large Screen ====*/
@include large(){
    @include make_margin('-lg');
};

/*==== xLarge Screen ====*/
@include xlarge(){
    @include make_margin('-xl');
};

/*==== Custom ====*/
.mt-custom{
    margin-top: var(--mt);
    @include medium() { --mt: var(--mt-md) };
    @include large()  { --mt: var(--mt-lg) };
    @include xlarge() { --mt: var(--mt-xl) };
}

.mb-custom {
    margin-bottom: var(--mb);
    @include medium() { --mb: var(--mb-md) };
    @include large()  { --mb: var(--mb-lg) };
    @include xlarge() { --mb: var(--mb-xl) };
}

.ms-custom {
    margin-#{$direction-start}: var(--ms);
    @include medium() { --ms: var(--ms-md) };
    @include large()  { --ms: var(--ms-lg) };
    @include xlarge() { --ms: var(--ms-xl) };
}

.me-custom {
    margin-#{$direction-end}: var(--me);
    @include medium() { --me: var(--me-md) };
    @include large()  { --me: var(--me-lg) };
    @include xlarge() { --me: var(--me-xl) };
}
