
/*==== Tools ====*/
@import '../assets/mixin';

$space_range : 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;

/*==== Margin All ====*/
@mixin make_margin($infix:'') {
    /*==== Auto Margins ====*/
    .mgx#{$infix}-auto {
        margin-left: auto;
        margin-right: auto;
    }

    .ms#{$infix}-auto {margin-#{$direction-start}: auto;}
    .me#{$infix}-auto {margin-#{$direction-end}: auto;}
    
    /*==== Sizes Range ====*/
    @each $size in $space_range {
        .mg#{$infix}-#{$size},
        .my#{$infix}-#{$size},
        .mt#{$infix}-#{$size} { @include margin-block(#{REM($size)}, 'start');}
        /*==== Margin Bottom ====*/
        .mg#{$infix}-#{$size},
        .my#{$infix}-#{$size},
        .mb#{$infix}-#{$size} { @include margin-block(#{REM($size)}, 'end');}
        /*==== Margin Start ====*/
        .mg#{$infix}-#{$size},
        .mx#{$infix}-#{$size},
        .ms#{$infix}-#{$size} { @include margin-inline(#{REM($size)}, 'start');}
        /*==== Margin End ====*/
        .mg#{$infix}-#{$size},
        .mx#{$infix}-#{$size},
        .me#{$infix}-#{$size} { @include margin-inline(#{REM($size)}, 'end');}
    }
}

/*==== Base Screen ====*/
.mt-custom {margin-top: var(--mt);}
.mb-custom {margin-bottom: var(--mb);}
.ms-custom {margin-#{$direction-start}: var(--ms);}
.me-custom {margin-#{$direction-end}: var(--me);}
@include make_margin();

/*==== Medium Screen ====*/
@include medium(){
    .mt-custom { --mt: var(--mt-md, var(--mt)) };
    .mb-custom { --mb: var(--mb-md, var(--mb)) };
    .ms-custom { --ms: var(--ms-md, var(--ms)) };
    .me-custom { --me: var(--me-md, var(--me)) };
    @include make_margin('-md');
};

/*==== Large Screen ====*/
@include large(){
    .mt-custom { --mt: var(--mt-lg, var(--mt-md)) };
    .mb-custom { --mb: var(--mb-lg, var(--mb-md)) };
    .ms-custom { --ms: var(--ms-lg, var(--ms-md)) };
    .me-custom { --me: var(--me-lg, var(--me-md)) };
    @include make_margin('-lg');
};

/*==== xLarge Screen ====*/
@include xlarge(){
    .mt-custom { --mt: var(--mt-xl, var(--mt-lg)) };
    .mb-custom { --mb: var(--mb-xl, var(--mb-lg)) };
    .ms-custom { --ms: var(--ms-xl, var(--ms-lg)) };
    .me-custom { --me: var(--me-xl, var(--me-lg)) };
    @include make_margin('-xl');
};

