/*==== Utlites Repeaters ====*/
@import '../assets/mixin';

$space_range : 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;

/*==== Padding Maker ====*/
@mixin make_padding($infix:'') {
    @each $size in $space_range {
        //===> Padding Top <===//
        .pd#{$infix}-#{$size},
        .pdy#{$infix}-#{$size},
        .pdt#{$infix}-#{$size} { @include padding-block(#{REM($size)}, 'start'); }

        /*==== Padding Bottom ====*/
        .pd#{$infix}-#{$size},
        .pdy#{$infix}-#{$size},
        .pdb#{$infix}-#{$size} { @include padding-block(#{REM($size)}, 'end'); }
        
        /*==== Padding Start ====*/
        .pd#{$infix}-#{$size},
        .pdx#{$infix}-#{$size},
        .pds#{$infix}-#{$size} { @include padding-inline(#{REM($size)}, 'start'); }
        
        /*==== Padding End ====*/
        .pd#{$infix}-#{$size},
        .pdx#{$infix}-#{$size},
        .pde#{$infix}-#{$size} { @include padding-inline(#{REM($size)}, 'end'); }
    }
}

/*==== Base Screen ====*/
.pdt-custom {padding-top: var(--pdt);}
.pdb-custom {padding-bottom: var(--pdb);}
.pds-custom {padding-#{$direction-start}: var(--pds);}
.pde-custom {padding-#{$direction-end}: var(--pde);}
@include make_padding();

/*==== Medium Screen ====*/
@include medium(){
    .pdt-custom { padding-top: var(--pdt-md, var(--pdt)) };
    .pdb-custom { padding-bottom: var(--pdb-md, var(--pdb)) };
    .pds-custom { padding-#{$direction-start}: var(--pds-md, var(--pds)) };
    .pde-custom { padding-#{$direction-end}: var(--pde-md, var(--pde)) };
    @include make_padding('-md');
};

/*==== Large Screen ====*/
@include large(){
    .pdt-custom { padding-top: var(--pdt-lg, var(--pdt-md)) };
    .pdb-custom { padding-bottom: var(--pdb-lg, var(--pdb-md)) };
    .pds-custom { padding-#{$direction-start}: var(--pds-lg, var(--pds-md)) };
    .pde-custom { padding-#{$direction-end}: var(--pde-lg, var(--pde-md)) };
    @include make_padding('-lg');
};

/*==== xLarge Screen ====*/
@include xlarge(){
    .pdt-custom { padding-top: var(--pdt-xl, var(--pdt-lg)) };
    .pdb-custom { padding-bottom: var(--pdb-xl, var(--pdb-lg)) };
    .pds-custom { padding-#{$direction-start}: var(--pds-xl, var(--pds-lg)) };
    .pde-custom { padding-#{$direction-end}: var(--pde-xl, var(--pde-lg)) };
    @include make_padding('-xl');
};
