/**======> Reference By Comment <======
 * ===> 01 - Progress
 * ===> 02 - Sticky
 * ===> 03 - Multi-Media
 * ===> 04 - Aspect Ratio
 * ===> 05 - Lazy Loader
 * ===> 06 - Background X
*/

/*==== Progress Bars ====*/
.px-progress {
    /*==== Label Basic ====*/
    &[data-label]::before, .px-progress-bar[data-label]::before {@extend .position-ab;}

    /*==== Label Before ====*/
    &[data-label]::before {
        width: 100%;
        #{$direction-start}: 0;
        content: attr(data-label);
        @extend .pos-center-y;
    }

    /*==== Inverted Label ====*/
    .px-progress-bar[data-label]::before {
        color: #FFF;
        width: var(--width);
        @extend .pos-center-y;
        @extend .pos-start-0;
        content: attr(data-label);
    }

    /*==== Value Label ====*/
    &[data-label="value"]::before {content: attr(data-value) "%";}
    .px-progress-bar[data-label="value"]::before {content: attr(data-value) "%";}

    //====> Circle Mode <====//
    &[data-type="circle"] svg path {-webkit-transition: stroke-dasharray 850ms ease-in-out;transition: stroke-dasharray 850ms ease-in-out;}

    //====> Radial Mode <====//
    &[data-type="radial"] {
        /*==== Label ====*/
        &[data-label]::before {
            top: 100%;
            -webkit-transform: translateY(-150%);
                    transform: translateY(-150%);
        }
        /*==== SVG ====*/
        svg path {
            -webkit-transition: stroke-dashoffset 850ms ease-in-out;
            transition: stroke-dashoffset 850ms ease-in-out;
            -webkit-transform: scale(1.19) translateY(-8%) translateX(-8%);
                    transform: scale(1.19) translateY(-8%) translateX(-8%);
        }
    }
}

/*==== Progress Circle Fix ====*/
.px-progress-circle {
    border-radius: 50%;
    -webkit-box-shadow: inset 0 0 0 2px #FFF, inset 0 0 0 12px rgba(#000, 0.30);
            box-shadow: inset 0 0 0 2px #FFF, inset 0 0 0 12px rgba(#000, 0.30);
}

/*==== Sticky ====*/
[data-sticky*="absolute"]:not(.is-sticky) {
    position: relative;
    z-index: var(--header-index);
}

.is-sticky {
    z-index: var(--header-index);
    /*==== Absolute ====*/
    &[data-sticky*="absolute"] {
        position: fixed;
        width: 100%;
    }
    /*==== Native ====*/
    [data-sticky*="inner"].is-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

/*==== Multi-Media ====*/
.px-media {
    /*==== ....====*/
    &:not([class*="position-"]) {position: relative;}
    &:not([class*="flex"]):not([class*="display-"]):not([class*="inline-"]) {display: block;}
    &:not([class*="bgs-"]):not([class*="bgh-"]):not([class*="bgw-"]) {
        background-size: cover;
        background-position: center;
    }
    /*==== elements ====*/
    .px-video, .px-iframe, .px-media-img, &.editor-mode .block-editor-block-list__layout {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: inherit;
        -o-object-fit: cover;
           object-fit: cover;
    }

    /*==== Custom Mode ====*/
    .px-media-element {
        top: 50%;
        left: 50%;
        position: absolute;
        @extend %position-center;
    }

    /*==== image type ====*/
    .px-media-img {opacity: 0; pointer-events: none;}
}

.object-fit {-o-object-fit: cover;object-fit: cover;}

/*==== Aspect Ratio ====*/
[class*="ratio"] {
    --ratio-size : initial;
    padding-bottom: var(--ratio-size);
}

@mixin make_ratio($infix:'') {
    .ratio#{$infix} {
        --ratio-size : 60%;
        /*==== Square 1x1 ====*/
        &-none  {--ratio-size: auto;}
        /*==== Square 1x1 ====*/
        &-1x1  {--ratio-size: 100%;}
        /*==== FHD 16x9 ====*/
        &-16x9 {--ratio-size: 56.3%;}
        /*==== Landscape 21x9 ====*/
        &-21x9 {--ratio-size: 42.9%;}
        /*==== Classic 4x3 ====*/
        &-4x3 {--ratio-size: 75%;}
        &-3x4 {--ratio-size: 125%;}
        /*==== Wide 3x1 ====*/
        &-3x1 {--ratio-size: 33.3%;}
    }
}

@include make_ratio();

@include medium(){
    @include make_ratio('-md');
};

@include large(){
    @include make_ratio('-lg');
};

@include xlarge(){
    @include make_ratio('-xl');
};

/*==== Lazy Loader ====*/
.px-loader {
    -o-object-fit: contain;
       object-fit: contain;
    background-size: auto 100%;
    background-color: #F1F2F3;
}

/*==== Phenix Animations ====*/
.px-animate, [data-animation] {
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}

/*==== Row Fix ====*/
.container-fluid > .row {
    margin-left: calc(var(--container-padding) * -1);
    margin-right: calc(var(--container-padding) * -1);
}

/*==== Phenix Modal ====*/
.px-modal[class*="overlay"]::before {display: none!important;}

/*==== Scaling ====*/
.scale-050 {-webkit-transform: scale(0.50);transform: scale(0.50);}
.scale-075 {-webkit-transform: scale(0.75);transform: scale(0.75);}
.scale-110 {-webkit-transform: scale(1.10);transform: scale(1.10);}
.scale-125 {-webkit-transform: scale(1.25);transform: scale(1.25);}
.scale-150 {-webkit-transform: scale(1.50);transform: scale(1.50);}
.scale-175 {-webkit-transform: scale(1.75);transform: scale(1.75);}
.scale-200 {-webkit-transform: scale(2);transform: scale(2);}
