/**======> Reference By Comment <======
 * ===> 01 - Progress
 * ===> 02 - Sticky
 * ===> 03 - Multi-Media
 * ===> 04 - Aspect Ratio
 * ===> 05 - Lazy Loader
 * ===> 06 - Background X
*/

/*==== Progress Bars ====*/
.px-progress:not([data-type="circle"]) {
    /*==== Label Basic ====*/
    &[data-label]::before, .px-progress-bar[data-label]::before {position: absolute;}

    /*==== Label Before ====*/
    &[data-label]::before {
        top: 50%;
        width: 100%;
        #{$direction-start}: 0;
        content: attr(data-label);
        @extend %position-center-y;
    }

    /*==== Inverted Label ====*/
    .px-progress-bar[data-label]::before {
        color: #FFF;
        width: var(--width);
        @extend %position-center-y;
        #{$direction-start}: 0;
        content: attr(data-label);
    }

    /*==== Value Label ====*/
    &[data-label="value"]::before {content: attr(data-value) "%";}
    .px-progress-bar[data-label="value"]::before {content: attr(data-value) "%";}

    //====> Radial Mode <====//
    &[data-type="radial"] {
        /*==== Label ====*/
        &[data-label]::before {
            top: 100%;
            transform: translateY(-150%);
        }
        /*==== SVG ====*/
        svg path {
            transition: all 0.3s ease-in-out;
            transform: scale(1.19) translateY(-8%) translateX(-8%);
        }
    }
}

/*==== Sticky ====*/
[data-sticky*="absolute"]:not(.is-sticky) {
    position: relative;
    z-index: var(--header-index);
}

.is-sticky {
    z-index: var(--header-index);
    /*==== Absolute ====*/
    &[data-sticky*="absolute"] {
        position: fixed;
        width: 100%;
    }
    /*==== Native ====*/
    [data-sticky*="inner"].is-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

/*==== Multi-Media ====*/
.px-media {
    /*==== ....====*/
    &:not([class*="position-"]) {position: relative;}
    &:not([class*="flex"]):not([class*="inline-"]):not([class*="hidden"]) {display: block;}

    /*==== BG Sizing ====*/
    &:not([class*="bgs-"]):not([class*="bgh-"]):not([class*="bgw-"]) {
        background-size: cover;
        background-position: center;
    }
    /*==== Media Element ====*/
    .px-video, .px-iframe, .px-media-img, > iframe, > video {
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        border-radius: inherit;
    }

    /*==== elements ====*/
    &:not(.ratio-none), &.ratio-none[class*="h-"] {
        .px-video, .px-iframe, .px-media-img, > iframe, > video {
            top: 0;
            left: 0;
            height: 100%;
            position: absolute;
        }
    }

    /*==== Custom Mode ====*/
    .px-media-element {
        top: 50%;
        left: 50%;
        position: absolute;
        @extend %position-center;
    }

    /*==== image type ====*/
    &.ratio-none[data-type="image"] {
        background-image: initial!important;
        .px-media-img {pointer-events: none; position: relative;}
    }
}

.object-fit {-o-object-fit: cover;object-fit: cover;}

/*==== Lazy Loader ====*/
.px-loader {
    -o-object-fit: contain;
       object-fit: contain;
    background-size: auto 100%;
    background-color: #F1F2F3;
}

/*==== Phenix Animations ====*/
.px-animate, [data-animation] {
    animation-fill-mode: both;
    animation-duration: 1s;
}

/*==== Slider Animation Support ====*/
.splide__slide {
    visibility: visible;
    /*==== Animated Childs ====*/
    [data-animation] {
        animation-fill-mode: both;
        visibility: hidden!important;
        animation-name: var(--animation-exit, 'fadeOut');
        animation-delay: calc(var(--animation-delay, 0));
        animation-duration: var(--animate-duration, 1s);
    }

    /*==== Animations ====*/
    &.is-active [data-animation], &.is-visible [data-animation] {
        visibility: visible!important;
        animation-name: var(--animation-name, 'fadeIn');
    }
}

/*==== Row Fix ====*/
.container-fluid > .row {
    margin-left: calc(var(--container-padding) * -1);
    margin-right: calc(var(--container-padding) * -1);
}

/*==== Phenix Modal ====*/
.px-modal {
    overscroll-behavior: none;
    .model-content {z-index: 2;}
    .backdrop-btn {z-index: 0;}
    &:not([class*="align-"]) {align-items: center;}
    &[class*="overlay"]::before {display: none!important;}
}

/*==== Scaling ====*/
.scale-050 {transform: scale(0.50);}
.scale-075 {transform: scale(0.75);}
.scale-110 {transform: scale(1.10);}
.scale-125 {transform: scale(1.25);}
.scale-150 {transform: scale(1.50);}
.scale-175 {transform: scale(1.75);}
.scale-200 {transform: scale(2);}

/*==== Multi-Media Aspect Ratio ====*/
[class*="ratio"] {
    --ratio-size : initial;
    padding-bottom: var(--ratio-size);
}

@mixin make_ratio($infix:'') {
    .ratio#{$infix} {
        --ratio-size : 60%;
        /*==== Square 1x1 ====*/
        &-none  {
            --ratio-size: auto;
            .px-media-img {
                opacity: 1;
                height: auto;
                position: static;
            }
        }
        /*==== Square 1x1 ====*/
        &-1x1  {--ratio-size: 100%;}
        /*==== FHD 16x9 ====*/
        &-16x9 {--ratio-size: 56.3%;}
        &-9x16 {--ratio-size: 156.3%;}
        &-16x10 {--ratio-size: 60%;}
        &-10x16 {--ratio-size: 160%;}
        &-16x11 {--ratio-size: 65%;}
        &-11x16 {--ratio-size: 165%;}
        &-16x14 {--ratio-size: 74.72%;}
        &-14x16 {--ratio-size: 174.72%;}
        /*==== Landscape 21x9 ====*/
        &-21x9 {--ratio-size: 42.9%;}
        &-9x21 {--ratio-size: 142.9%;}
        /*==== Classic 4x3 ====*/
        &-4x3 {--ratio-size: 75%;}
        &-3x4 {--ratio-size: 125%;}
        /*==== Wide 3x1 ====*/
        &-3x1 {--ratio-size: 33.3%;}
        &-1x3 {--ratio-size: 133.3%;}
    }
}

@include make_ratio();

@include medium(){
    @include make_ratio('-md');
};

@include large(){
    @include make_ratio('-lg');
};

@include xlarge(){
    @include make_ratio('-xl');
};

/*==== Section Snapping ====*/
.px-section-snap {
    overflow-y: auto;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    > .px-section-snap-item, > div:not(.no-snap) {scroll-snap-align: start;}
}

.px-section-snap-x {
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    > .px-section-snap-item, > div:not(.no-snap) {scroll-snap-align: start;}
}

// .px-masonry, .row.px-masonry {display: block;}
