/**======> Reference By Comment <======
 * ===> 01 - Progress
 * ===> 02 - Sticky
 * ===> 03 - Multi-Media
 * ===> 04 - Aspect Ratio
 * ===> 05 - Lazy Loader
 * ===> 06 - Background X
*/

/*==== Progress Bars ====*/
.px-progress:not([data-type="circle"]) {
    /*==== Label Basic ====*/
    &[data-label]::before, .px-progress-bar[data-label]::before {position: absolute;}

    /*==== Label Before ====*/
    &[data-label]::before {
        top: 50%;
        width: 100%;
        #{$direction-start}: 0;
        content: attr(data-label);
        @extend %position-center-y;
    }

    /*==== Inverted Label ====*/
    .px-progress-bar[data-label]::before {
        top: 0;
        color: #FFF;
        width: var(--width);
        #{$direction-start}: 0;
        content: attr(data-label);
    }

    /*==== Value Label ====*/
    &[data-label="value"]::before {content: attr(data-value) "%";}
    .px-progress-bar[data-label="value"]::before {content: attr(data-value) "%";}

    //====> Radial Mode <====//
    &[data-type="radial"] {
        /*==== Label ====*/
        &[data-label]::before {
            top: 100%;
            transform: translateY(-150%);
        }
        /*==== SVG ====*/
        svg path {
            transition: all 0.3s ease-in-out;
            transform: scale(1.19) translateY(-8%) translateX(-8%);
        }
    }
}

/*==== Sticky ====*/
[data-sticky*="absolute"]:not(.is-sticky) {
    position: relative;
    z-index: var(--header-index);
}

.is-sticky {
    z-index: var(--header-index);
    /*==== Absolute ====*/
    &[data-sticky*="absolute"] {
        width: 100%;
        position: fixed!important;
    }
    /*==== Native ====*/
    [data-sticky*="inner"].is-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

/*==== Multi-Media ====*/
.px-media {
    /*==== ....====*/
    &:not([class*="position-"]) {position: relative;}
    &:not([class*="flex"]):not([class*="inline-"]):not([class*="hidden"]) {display: block;}

    /*==== BG Sizing ====*/
    &:not([class*="bgs-"]):not([class*="bgh-"]):not([class*="bgw-"]) {
        background-size: cover;
        background-position: center;
    }
    /*==== Media Element ====*/
    .px-video, .px-iframe, .px-media-img, > iframe, > video, > canvas {
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        border-radius: inherit;
    }

    /*==== elements ====*/
    &:not(.ratio-none), &.ratio-none[class*="h-"] {
        .px-video, .px-iframe, .px-media-img, > iframe, > video, > canvas {
            top: 0;
            left: 0;
            height: 100%;
            position: absolute;
        }
    }

    /*==== Custom Mode ====*/
    .px-media-element {
        top: 50%;
        left: 50%;
        position: absolute;
        @extend %position-center;
    }

    /*==== image type ====*/
    &.ratio-none[data-type="image"] {
        background-image: initial!important;
        .px-media-img {
            height: auto;
            position: relative;
            object-fit: initial;
            pointer-events: none;
        }
    }
}

.object-fit {-o-object-fit: cover;object-fit: cover;}

/*==== Lazy Loader ====*/
.px-loader {
    -o-object-fit: contain;
       object-fit: contain;
    background-size: auto 100%;
    background-color: #F1F2F3;
}

/*==== Phenix Animations ====*/
.px-animate, [data-animation] {
    animation-fill-mode: both;
    animation-delay: calc(var(--animation-delay, 0));
    animation-duration: var(--animation-duration, 1s);
    &.scroll-progress {
        animation-play-state: paused;
        animation-delay: calc(var(--animation-progress) * -1s);
    }
}

/*==== Slider Animation Support ====*/
.px-slider {
    /*==== Animated Childs ====*/
    [data-animation] {
        visibility: hidden;
        animation-fill-mode: both;
        animation-name: var(--animation-exit, 'fadeOut');
        animation-delay: calc(var(--animation-delay, 0));
        animation-duration: var(--animate-duration, 1s);
    }

    /*==== Animations ====*/
    .splide__slide {
        &.is-active [data-animation], 
        &.is-visible [data-animation],
        &.swiper-slide-active [data-animation],
        &.swiper-slide-visible [data-animation] {
            visibility: visible!important;
            animation-name: var(--animation-name, 'fadeIn');
        }
    }

    &[data-center="1"] .splide__slide {
       /*==== Animations ====*/
       &.is-next [data-animation], 
       &.is-prev [data-animation] {
           visibility: visible!important;
           animation-name: var(--animation-name, 'fadeIn');
       }
    }
}

/*==== Row Fix ====*/
.container-fluid > .row {
    margin-left: calc(var(--container-padding) * -1);
    margin-right: calc(var(--container-padding) * -1);
}

/*==== Phenix Modal ====*/
.px-modal {
    overscroll-behavior: none;
    .backdrop-btn {z-index: 0;}
    .model-content {z-index: 2;}
    //====> Alignment Fix <====//
    &:not([class*="align-"]) {align-items: center;}
    //====> Overlay Fix <====//
    &[class*="overlay"]::before {display: none!important;}
    //====> Padding <====//
    &:not([class*="pdy-"]):not([class*="pdt-"]) {padding-top: 2rem;}
    &:not([class*="pdy-"]):not([class*="pdb-"]) {padding-bottom: 2rem;}
}

/*==== Scaling ====*/
.scale-050 {transform: scale(0.50);}
.scale-075 {transform: scale(0.75);}
.scale-110 {transform: scale(1.10);}
.scale-125 {transform: scale(1.25);}
.scale-150 {transform: scale(1.50);}
.scale-175 {transform: scale(1.75);}
.scale-200 {transform: scale(2);}

/*==== Multi-Media Aspect Ratio ====*/
[class*="ratio"] {
    --ratio-size : initial;
    padding-bottom: var(--ratio-size);
}

@mixin make_ratio($infix:'') {
    .px-media.ratio#{$infix} {
        --ratio-size : 60%;
        /*==== Square 1x1 ====*/
        &-none  {
            --ratio-size: auto;
            .px-media-img {
                opacity: 1;
                height: auto;
                position: static;
            }
        }
        /*==== Square 1x1 ====*/
        &-1x1  {--ratio-size: 100%;}
        /*==== FHD 16x9 ====*/
        &-16x9 {--ratio-size: 56.3%;}
        &-9x16 {--ratio-size: 156.3%;}
        &-16x10 {--ratio-size: 60%;}
        &-10x16 {--ratio-size: 160%;}
        &-16x11 {--ratio-size: 65%;}
        &-11x16 {--ratio-size: 165%;}
        &-16x14 {--ratio-size: 74.72%;}
        &-14x16 {--ratio-size: 174.72%;}
        /*==== Landscape 21x9 ====*/
        &-21x9 {--ratio-size: 42.9%;}
        &-9x21 {--ratio-size: 142.9%;}
        /*==== Classic 4x3 ====*/
        &-4x3 {--ratio-size: 75%;}
        &-3x4 {--ratio-size: 125%;}
        /*==== Wide 3x1 ====*/
        &-3x1 {--ratio-size: 33.3%;}
        &-1x3 {--ratio-size: 133.3%;}
    }

    img.ratio#{$infix} {
        aspect-ratio: 4 / 3;
        /*==== Square 1x1 ====*/
        &-1x1   {aspect-ratio: 1 / 1;}
        /*==== FHD 16x9 ====*/
        &-16x9  {aspect-ratio: 16 / 9%;}
        &-9x16  {aspect-ratio: 9 / 16%;}
        &-16x10 {aspect-ratio: 16 / 10;}
        &-10x16 {aspect-ratio: 10 / 16;}
        &-16x11 {aspect-ratio: 16 / 11;}
        &-11x16 {aspect-ratio: 11 / 16;}
        &-16x14 {aspect-ratio: 716 / 14;}
        &-14x16 {aspect-ratio: 14 / 16;}
        /*==== Landscape 21x9 ====*/
        &-21x9 {aspect-ratio: 21 / 9;}
        &-9x21 {aspect-ratio: 9 / 21;}
        /*==== Classic 4x3 ====*/
        &-4x3  {aspect-ratio: 4 / 3;}
        &-3x4  {aspect-ratio: 3 / 4;}
        /*==== Wide 3x1 ====*/
        &-3x1  {aspect-ratio: 3 / 1;}
        &-1x3  {aspect-ratio: 1 / 3;}
    }
}

@include make_ratio();

@include medium(){
    @include make_ratio('-md');
};

@include large(){
    @include make_ratio('-lg');
};

@include xlarge(){
    @include make_ratio('-xl');
};

/*==== Section Snapping ====*/
/*==== Front-End Only ====*/
body:not([class*="editor"]) {
    .px-section-snap {
        max-height: 100vh;
        overflow-y: scroll;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        &.proximity {scroll-snap-type: y proximity;}
        > .px-section-snap-item, > div:not(.no-snap) {scroll-snap-align: start;}
    }
    
    .px-section-snap-x {
        max-width: 100vw;
        overflow-x: scroll;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        &.proximity {scroll-snap-type: x proximity;}
        > .px-section-snap-item, > div:not(.no-snap) {scroll-snap-align: start;}
    }
}

/*==== Swiper Fixes ====*/
// .px-slider[data-duration="0"] .swiper-wrapper {
//     -webkit-transition-timing-function:linear !important;
//     transition-timing-function:linear !important;
// }
