/**======> Reference By Comment <======
 * ===> 01 - Overflow
 * ===> 02 - Float Elements
 * ===> 03 - Overlay Layer
 * ===> 04 - Position
 * ===> 05 - Directions
 * ===> 06 - zIndex
 * ===> 07 - Sticky Elements
 * ===> 08 - Phenix Media
 * ===> 09 - Aspect Ratio
 * ===> 10 - Lazy Loader
 * ===> 11 - Assets
*/

/*==== SASS Selectors ====*/
@import './../assets/selectors';

/*==== zIndex ====*/
.z-index-header {z-index: var(--header-index);}
.z-index-modal  {z-index: var(--modal-index);}
.z-index-dropdown {z-index: var(--dropdown-index);}
.z-index-1 {z-index: 1;}
.z-index-2 {z-index: 2;}
.z-index-3 {z-index: 3;}
.z-index-4 {z-index: 4;}
.z-index-5 {z-index: 5;}
.z-index-6 {z-index: 6;}
.z-index-7 {z-index: 7;}
.z-index-8 {z-index: 8;}
.z-index-9 {z-index: 9;}
.z-index-10 {z-index: 10;}

/*==== Custom Positions ====*/
.pos-top-custom {top: var(--pos-top);}
.pos-bottom-custom {bottom: var(--pos-bottom);}
.pos-end-custom {#{$direction-end}: var(--pos-end);}
.pos-start-custom {#{$direction-start}: var(--pos-start);}

$space_range : 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50;

@mixin make_positions($infix:'') {
    /*==== Position ====*/
    .position-ab#{$infix}  {position: absolute!important;}
    .position-rv#{$infix}  {position: relative!important;}
    .position-fx#{$infix}  {position: fixed!important;}
    .position-st#{$infix}  {position: -webkit-sticky!important;position: sticky!important;}
    .position-none#{$infix}  {position: static!important;}

    /*==== Center ====*/
    .position-full#{$infix}, .pos-full#{$infix} {top: 0;left: 0;right: 0;bottom: 0;}
    .pos-center#{$infix} {top: 50%;left: 50%;transform: translateX(-50%) translateY(-50%);;}
    .pos-center-y#{$infix} {top: 50%;transform: translateY(-50%);}
    .pos-center-x#{$infix} {left: 50%;transform: translateX(-50%);}
    .pos-after-y#{$infix}  {top: 100%;}
    .pos-before-y#{$infix} {bottom: 100%;}
    .pos-after-x#{$infix}  {#{$direction-start}: 100%;}
    .pos-before-x#{$infix} {#{$direction-end}: 100%;}


    @each $size in $space_range {
        .pos-top#{$infix}-#{$size}  {top: #{REM($size)};}
        .pos-bottom#{$infix}-#{$size}  {bottom: #{REM($size)};}
        .pos-start#{$infix}-#{$size}  {#{$direction-start}: #{REM($size)};}
        .pos-end#{$infix}-#{$size}  {#{$direction-end}: #{REM($size)};}
    }
}

@include make_positions();

@include medium(){
    .pos-top-custom { --pos-top: var(--pos-top-md, var(--pos-top)) };
    .pos-bottom-custom { --pos-bottom: var(--pos-bottom-md, var(--pos-bottom)) };
    .pos-end-custom { --pos-end: var(--pos-end-md, var(--pos-end)) };
    .pos-start-custom { --pos-start: var(--pos-start-md, var(--pos-start)) };
    @include make_positions('-md');
}

@include large(){
    .pos-top-custom { --pos-top: var(--pos-top-lg, var(--pos-top-md)) };
    .pos-bottom-custom { --pos-bottom: var(--pos-bottom-lg, var(--pos-bottom-md)) };
    .pos-end-custom { --pos-end: var(--pos-end-lg, var(--pos-end-md)) };
    .pos-start-custom { --pos-start: var(--pos-start-lg, var(--pos-start-md)) };
    @include make_positions('-lg');
}

@include xlarge(){
    .pos-top-custom { --pos-top: var(--pos-top-xl, var(--pos-top-lg)) };
    .pos-bottom-custom { --pos-bottom: var(--pos-bottom-xl, var(--pos-bottom-lg)) };
    .pos-end-custom { --pos-end: var(--pos-end-xl, var(--pos-end-lg)) };
    .pos-start-custom { --pos-start: var(--pos-start-xl, var(--pos-start-lg)) };
    @include make_positions('-xl');
}
