/**======> Reference By Comment <======
 * ===> 01 - Overflow
 * ===> 02 - Float Elements
 * ===> 03 - Overlay Layer
 * ===> 04 - Position
 * ===> 05 - Directions
 * ===> 06 - zIndex
 * ===> 07 - Sticky Elements
 * ===> 08 - Phenix Media
 * ===> 09 - Aspect Ratio
 * ===> 10 - Lazy Loader
 * ===> 11 - Assets
*/

/*==== SASS Selectors ====*/
@import './../assets/selectors';

/*==== zIndex ====*/
.z-index-header {z-index: var(--header-index);}
.z-index-modal  {z-index: var(--modal-index);}
.z-index-dropdown {z-index: var(--dropdown-index);}
.z-index-1 {z-index: 1;}
.z-index-2 {z-index: 2;}
.z-index-3 {z-index: 3;}
.z-index-4 {z-index: 4;}
.z-index-5 {z-index: 5;}
.z-index-6 {z-index: 6;}
.z-index-7 {z-index: 7;}
.z-index-8 {z-index: 8;}
.z-index-9 {z-index: 9;}
.z-index-10 {z-index: 10;}

/*==== Position ====*/
.position-ab  {position: absolute;}
.position-rv  {position: relative;}
.position-fx  {position: fixed;}
.position-st  {position: -webkit-sticky;position: sticky;}
.position-none  {position: static;}

/*==== Center ====*/
.position-full, .pos-full {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.pos-center {
    top: 50%;
    left: 50%;
    @extend %position-center;
}

.pos-center-y {
    top: 50%;
    @extend %position-center-y;
}

.pos-center-x {
    left: 50%;
    @extend %position-center-x;
}

.pos-after-y  {top: 100%;}
.pos-before-y {bottom: 100%;}
.pos-after-x  {#{$direction-start}: 100%;}
.pos-before-x {#{$direction-end}: 100%;}

$space_range : 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50;

@mixin make_positions($infix:'') {
    @each $size in $space_range {
        .pos-top#{$infix}-#{$size}  {top: #{REM($size)};}
        .pos-bottom#{$infix}-#{$size}  {bottom: #{REM($size)};}
        .pos-start#{$infix}-#{$size}  {#{$direction-start}: #{REM($size)};}
        .pos-end#{$infix}-#{$size}  {#{$direction-end}: #{REM($size)};}
    }
}

@include make_positions();

@include medium(){
    @include make_positions('-md');
}

@include large(){
    @include make_positions('-lg');
}

@include xlarge(){
    @include make_positions('-xl');
}

/*==== Custom Positions ====*/
[class*="pos-top-custom"] {
    top: var(--pos-top);
    @include medium() { --pos-top: var(--pos-top-md) };
    @include large()  { --pos-top: var(--pos-top-lg) };
    @include xlarge() { --pos-top: var(--pos-top-xl) };
}

[class*="pos-bottom-custom"] {
    bottom: var(--pos-bottom);
    @include medium() { --pos-bottom: var(--pos-bottom-md) };
    @include large()  { --pos-bottom: var(--pos-bottom-lg) };
    @include xlarge() { --pos-bottom: var(--pos-bottom-xl) };
}

[class*="pos-end-custom"] {
    #{$direction-end}: var(--pos-end);
    @include medium() { --pos-end: var(--pos-end-md) };
    @include large()  { --pos-end: var(--pos-end-lg) };
    @include xlarge() { --pos-end: var(--pos-end-xl) };
}

[class*="pos-start-custom"] {
    #{$direction-start}: var(--pos-start);
    @include medium() { --pos-start: var(--pos-start-md) };
    @include large()  { --pos-start: var(--pos-start-lg) };
    @include xlarge() { --pos-start: var(--pos-start-xl) };
}
