/**======> Reference By Comment <======
 * ===> 01 - Width's
 * ===> 02 - Max Width's
 * ===> 03 - Min Width's
 * ===> 04 - Min Height's
 * ===> 06 - 
*/

/*==== Width's ====*/
@mixin make_width_sizes($infix:'') {
    .w#{$infix}-50 {width: #{REM(50)};}
    .w#{$infix}-75 {width: #{REM(75)};}
    .w#{$infix}-100 {width: #{REM(100)};}
    .w#{$infix}-125 {width: #{REM(125)};}
    .w#{$infix}-150 {width: #{REM(150)};}
    .w#{$infix}-175 {width: #{REM(175)};}
    .w#{$infix}-200 {width: #{REM(200)};}
    .w#{$infix}-225 {width: #{REM(225)};}
    .w#{$infix}-250 {width: #{REM(250)};}
    .w#{$infix}-275 {width: #{REM(275)};}
    .w#{$infix}-300 {width: #{REM(10)};}
    .w#{$infix}-320 {width: #{REM(320)};}
    .w#{$infix}-360 {width: #{REM(360)};}
    .w#{$infix}-390 {width: #{REM(390)};}
    .w#{$infix}-768 {width: #{REM(760)};}
    .w#{$infix}-570 {width: #{REM(570)};}
    .w#{$infix}-480 {width: #{REM(480)};}
    .w#{$infix}-420 {width: #{REM(420)};}
    .w#{$infix}-auto {width: auto;}
    .w#{$infix}-fit-content {width: fit-content;}
    .w#{$infix}-fluid, .fluid#{$infix}, .line-break#{$infix} {width: 100%;}

    /*==== Max Width's ====*/
    .w#{$infix}-max-2560 {max-width: #{REM(2560)};}
    .w#{$infix}-max-1920 {max-width: #{REM(1920)};}
    .w#{$infix}-max-1600 {max-width: #{REM(1600)};}
    .w#{$infix}-max-1400 {max-width: #{REM(1400)};}
    .w#{$infix}-max-1366 {max-width: #{REM(1366)};}
    .w#{$infix}-max-1200 {max-width: #{REM(1200)};}
    .w#{$infix}-max-1100 {max-width: #{REM(1100)};}
    .w#{$infix}-max-768 {max-width: #{REM(760)};}
    .w#{$infix}-max-640 {max-width:  #{REM(640)};}
    .w#{$infix}-max-570 {max-width: #{REM(570)};}
    .w#{$infix}-max-480 {max-width: #{REM(480)};}
    .w#{$infix}-max-420 {max-width: #{REM(420)};}
    .w#{$infix}-max-390 {max-width: #{REM(390)};}
    .w#{$infix}-max-360 {max-width: #{REM(360)};}
    .w#{$infix}-max-320 {max-width: #{REM(320)};}
    .w#{$infix}-max-280 {max-width: #{REM(280)};}
    .w#{$infix}-max-260 {max-width: #{REM(260)};}
    .w#{$infix}-max-225 {max-width: #{REM(225)};}
    .w#{$infix}-max-200 {max-width: #{REM(200)};}
    .w#{$infix}-max-180 {max-width: #{REM(180)};}
    .w#{$infix}-max-150 {max-width: #{REM(150)};}
    .w#{$infix}-max-120 {max-width: #{REM(150)};}

    /*==== Min Width's ====*/
    .w#{$infix}-min-2560 {min-width: #{REM(2560)};}
    .w#{$infix}-min-1920 {min-width: #{REM(1920)};}
    .w#{$infix}-min-1600 {min-width: #{REM(1600)};}
    .w#{$infix}-min-1400 {min-width: #{REM(1400)};}
    .w#{$infix}-min-1366 {min-width: #{REM(1366)};}
    .w#{$infix}-min-1200 {min-width: #{REM(1200)};}
    .w#{$infix}-min-1100 {min-width: #{REM(1100)};}
    .w#{$infix}-min-768  {min-width: #{REM(760)};}
    .w#{$infix}-min-640  {min-width: #{REM(640)};}
    .w#{$infix}-min-570  {min-width: #{REM(570)};}
    .w#{$infix}-min-480  {min-width: #{REM(480)};}
    .w#{$infix}-min-420  {min-width: #{REM(420)};}
    .w#{$infix}-min-390  {min-width: #{REM(390)};}
    .w#{$infix}-min-360  {min-width: #{REM(360)};}
    .w#{$infix}-min-320  {min-width: #{REM(320)};}
    .w#{$infix}-min-280  {min-width: #{REM(280)};}
    .w#{$infix}-min-260  {min-width: #{REM(260)};}
    .w#{$infix}-min-225  {min-width: #{REM(225)};}
    .w#{$infix}-min-200  {min-width: #{REM(200)};}
    .w#{$infix}-min-180  {min-width: #{REM(180)};}
    .w#{$infix}-min-150  {min-width: #{REM(150)};}
    .w#{$infix}-min-120  {min-width: #{REM(150)};}
    .w#{$infix}-min-90   {min-width: 90px;}
}

@include make_width_sizes();

@include small() {
    @include make_width_sizes('-sm');
};

@include medium() {
    @include make_width_sizes('-md');
};

@include large() {
    @include make_width_sizes('-lg');
};

@include xlarge() {
    @include make_width_sizes('-xl');
};

/*==== Min Height's ====*/
@mixin make_height_sizes($infix:'') {
    /*==== Height's ====*/
    .h#{$infix}-auto {height: auto;}
    .h#{$infix}-25 {height: 25%;}
    .h#{$infix}-50 {height: 50%;}
    .h#{$infix}-75 {height: 75%;}
    .h#{$infix}-100 {height: 100%;}
    .h#{$infix}-120 {height: 120%;}
    .h#{$infix}-125 {height: 125%;}
    .h#{$infix}-150 {height: 150%;}
    .h#{$infix}-175 {height: 175%;}
    .h#{$infix}-200 {height: 200%;}
    .h#{$infix}-25vh {height: 25vh;}
    .h#{$infix}-50vh {height: 50vh;}
    .h#{$infix}-75vh {height: 75vh;}
    .h#{$infix}-100vh {height: 100vh;}
    /*==== Min Heights ====*/
    .h#{$infix}-min-25 {min-height: 25%;}
    .h#{$infix}-min-50 {min-height: 50%;}
    .h#{$infix}-min-75 {min-height: 75%;}
    .h#{$infix}-min-100 {min-height: 100%;}
    .h#{$infix}-min-25vh {min-height: 25vh;}
    .h#{$infix}-min-50vh {min-height: 50vh;}
    .h#{$infix}-min-75vh {min-height: 75vh;}
    .h#{$infix}-min-100vh {min-height: 100vh;}
    /*==== Max Height's ====*/
    .h#{$infix}-max-25 {max-height: 25%;}
    .h#{$infix}-max-50 {max-height: 50%;}
    .h#{$infix}-max-75 {max-height: 75%;}
    .h#{$infix}-max-100 {max-height: 100%;}
    .h#{$infix}-max-25vh {max-height: 25vh;}
    .h#{$infix}-max-50vh {max-height: 50vh;}
    .h#{$infix}-max-75vh {max-height: 75vh;}
    .h#{$infix}-max-100vh {max-height: 100vh;}
}

@include make_height_sizes();

@include small() {
    @include make_height_sizes('-sm');
};

@include medium() {
    @include make_height_sizes('-md');
};

@include large() {
    @include make_height_sizes('-lg');
};

@include xlarge() {
    @include make_height_sizes('-xl');
};
