/**======> Reference By Comment <======
 * ===> 01 - Phenix Navigation 
 * ===> 02 - CSS Options
 * ===> 03 - Menu Items
 * ===> 04 - Links
 * ===> 05 - 
 * ===> 06 - Hover & Active
*/

/*==== Utlites Repeaters ====*/
@import '../assets/mixin';

/*==== Phenix Navigation ====*/
.px-navigation {
    /*==== CSS Options ====*/
    --font-size : #{REM(14)};
    --space-in  : #{REM(10)};
    --height : #{REM(34)};
    --color  : var(--gray-color);
    --color-hvr : var(--primary-color);
    --background : transparent;
    --background-hvr : transparent;
    --font-weight : var(--bold-weight);

    /*==== global options ====*/
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    
    /*==== General Style ====*/
    > ul {
        @extend %reset-list;
        /*==== items ====*/
        li {
            /*==== inherited ====*/
            font-size: inherit;
            font-weight: inherit;
            &[class*="fa-"]::before {
                top: -#{REM(2)};
                position: relative;
                margin-#{$direction-end}: #{REM(8)};
            }

            //===> Hide Submenus <===//
            > ul, > div {display: none;}
        }
        /*==== Links ====*/
        li > a {
            transition: none;
            color: var(--color);
            line-height: inherit;
            display: inline-block;
            transition: color 0.3s;
            &:focus, &:active {outline: 0 none;}
        }
    }

    /*==== Menu Theme ====*/
    > ul > li {
        /*==== Options ====*/
        min-height: var(--height);
        line-height: var(--height);
        color: var(--color);
        background-color: var(--background);
        position: relative;
        transition: background-color 0.3s, border-color 0.3s, color 0.3s, padding 0.3s;
        @include padding_inline(var(--space-in));
        /*==== Hover & Active ====*/
        &:hover, &.px-item-active, &.px-submenu-active {
            color: var(--color-hvr);
            > a {color: var(--color-hvr);}
            background-color: var(--background-hvr);
        }
    }

    /*==== Submenu Theme ====*/
    .submenu {
        @extend %reset-list;
        /*==== CSS Options ====*/
        --height : #{REM(30)};
        --radius : #{REM(5)};
        --background : var(--component-bg-lvl-1);
        --space-in : #{REM(15)};
        --color : var(--component-tx-lvl-1);
        --box-shadow : #{REM(3)} #{REM(3)} #{REM(8)} 0 rgba(0,0,0, 0.05);
        /*==== ... ====*/
        color: var(--color);
        font-weight : normal;
        min-height: var(--height);
        box-shadow: var(--box-shadow);
        z-index: var(--dropdown-index);
        background-color: var(--background);
        @include padding-block(#{calc(var(--space-in)/1.5)});
        border-radius: 0 0 var(--radius) var(--radius);
        /*==== items ====*/
        &:not(.megamenu) li {
            position: relative;
            line-height: var(--height);
            ul {border-radius: var(--radius);}
            @include padding-inline(var(--space-in));
            transition: color 0.3s ease, background-color 0.3s;
        }
        /*==== hover ====*/
        li:hover, li.px-item-active {
            color: var(--color-hvr);
            > a {color: var(--color-hvr);}
        }
    }

    .arrow-icon::before {
        line-height: inherit;
        float: $direction-end;
        margin-#{$direction-start}: #{REM(8)};
    }

    /*==== Submenu Prepare ====*/
    @include large() {
        &[data-hover] {
            .submenu, .megamenu {
                top: 100%;
                width: 100%;
                display: none;
                margin-top: -#{REM(2)};
                position: absolute;
                min-width: REM(190);
                #{$direction-start}: 0;
                /*==== Level-3+ ====*/
                .submenu {top: 0;#{$direction-start}: 100%;}
            }
            
            &.px-vertical {
                .submenu, .megamenu {
                    top: 0;
                    #{$direction-start}: 100%;
                    border-radius: var(--radius);
                }
            }
        }
    };

    &:not([data-hover]) .submenu {
        box-shadow: unset;
        background-color: inherit;
        @include padding-block(calc(var(--space-in)/2));
    }

    /*==== Show Submenu ====*/
    .px-menu-active, &[data-hover] li:hover {
        > .submenu, > .megamenu {
            display: block;
            animation: fadeInUpShort 0.3s ease-in-out
        }
    }
}

/*==== Phenix Custom Menu ====*/
.px-custom-menu {
    /*==== CSS Options ====*/
    --width : #{REM(300)};
    /*==== Standard ====*/
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100vh;
    display: none;
    position: fixed;
    #{$direction-end}: 0;
    z-index: var(--modal-index);
    @extend .align-center-y;
    @extend .align-center-x;
    /*==== Activated ====*/
    &.px-menu-active {
        opacity: 1;
        display: flexbox!important;
    }
    /*==== Menu Toggle ====*/
    .menu-toggle {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.7;
    }
    /*==== Menu wrapper ====*/
    .menu-wrapper {
        background-color: var(--component-bg-lvl-1);
        padding: REM(15) REM(25);
        position: relative;
        z-index: 1;
        width: var(--width);
        max-height: 95vh;
        overflow-y: auto;
        border-radius: #{REM(5)};
        /*==== Submenu Arrow ====*/
        .arrow-icon::before {
            line-height: inherit;
            float: $direction-end;
        }

        /*==== Menu ====*/
        > ul {
            font-size: #{REM(15)};
            line-height: #{REM(35)};
            /*==== Links ====*/
            li > a {
                color: inherit;
                display: block;
                &:focus, &:active {outline: 0 none;}
            }
            /*==== Items ====*/
            > li {
                font-weight: var(--medium-weight);
            }
            /*==== icons ====*/
            .icon {
                top: -1px;
                line-height: 1;
                font-size: #{REM(15)};
                font-style: normal;
                text-align: center;
                position: relative;
                @extend %inline-block;
                color: var(--primary-color);
                margin-#{$direction-end}: #{REM(5)};
            }
            /*==== Submenu ====*/
            .submenu, .megamenu {
                list-style: none;
                margin: 0;
                padding: #{REM(8)};
                background-color: rgba(#000, 0.03);
                display: none;
                line-height: #{REM(28)};
                font-size: #{REM(14)};
                color: var(--gray-color);
                font-weight: normal;
                border-radius: #{REM(4)};
            }
        }
    }
}
