/*==== Layout Fix ====*/
.wp-site-blocks > * + * {--wp--style--block-gap : 0;}

/*==== Admin-Bar Fix ====*/
@media screen and (max-width: 782px) {
	#wpadminbar {margin-top: -46px;}
}

/*==== Fix View-Port Animation ====*/
.wp-admin .view-status {visibility: visible;}

/*==== Plugins Fix ====*/
[name="newsletter[]"] {display:none!important;}
[name*="honeypot"] {left: 100%;visibility:hidden;position: absolute;}
.wpcf7 .screen-reader-response, .wpcf7-response-output {display: none;}

/*==== Table Block ====*/
.wp-block-table {
	overflow-x: auto;
	@include margin-inline(0);

	@include medium('down') {
		table {width:970px;}
	}
}

/*==== GB Editor Side Panels ====*/
body[class*="block-editor"], body[class*="site-editor"] {
	/*==== Layers List ====*/
	.edit-post-editor__list-view-panel, .edit-site-editor__list-view-panel {min-width: 220px;}

	/*==== Inspector Widgets Title ====*/
	.components-panel__body.is-opened .components-panel__body-title {
		margin-bottom: 15px;
		border-bottom: 1px solid rgba(#000, 0.10);
	}

	.block-editor-block-inspector__advanced {border-bottom: 1px solid rgba(#000, 0.10);}

	/*==== Sidebar Fix ====*/
	.interface-interface-skeleton__sidebar {
		@extend .px-scrollbar;
		// overflow-x: hidden!important;
		// padding-#{$direction-end}: 15px;
		.components-panel__body.is-opened {margin-#{$direction-end}: 5px;}
	}

	/*==== Radius Groups ====*/
	.components-button-group {
		display: flex;
		flex-wrap: wrap;
		overflow: hidden;
		border-radius: 5px;
		border : 1px solid rgba(#000, 0.15);
		/*==== Childrens ====*/
		> * {
			flex-grow: 1;
			text-align: center;
		}

		/*==== Buttons ====*/
		.components-button {
			--wp-admin-theme-color : var(--primary-color);
			height: 32px;
			font-size: 12px;
			padding: 0 10px;
			text-align: center;
			white-space: normal;
			display: inline-block;
			transition: all 0.3s linear;
			margin-#{$direction-start}: -1px;
			border-bottom : 1px solid rgba(#000, 0.15);
			&:not(:first-child) {border-#{$direction-start}: 1px solid rgba(#000, 0.15);}
			/*==== Primary ====*/
			&.is-primary {box-shadow: unset;}
			&.is-primary:hover {background-color: var(--primary-hover);}
			/*==== Secondary ====*/
			&.is-secondary, &.is-secondary:hover {
				box-shadow: none;
				color: var(--gray-color);
			}
		}
	}

	/*==== Link Input ====*/
	.block-editor-url-input input[type="text"] {
		width: 100%;
		border: 1px solid rgba(#000, 0.2);
	}

	/*==== Sidebar Fields ====*/
	.components-base-control__field {
		margin: 0;
		margin-bottom: 10px;
		.components-input-control__backdrop {border-color: rgba(#000, 0.2)!important;}
	}

	.components-input-control__container {flex: none!important;}
	.components-flex {height: auto!important;}

	/*==== Blocks Preview ====*/
	.block-editor-block-preview__container {
		height: 100%;
		iframe,.block-editor-block-preview__content {height: 100%!important;}
		.block-editor-block-preview__content {transform: scale(1)!important;}
	}

	/*==== Fix ToggleControl ====*/
	.components-form-toggle {top: 2px;}
	
	/*==== Fix RangeControl ====*/
	.flexbox > .components-range-control {
		flex-grow: 1;
		margin-bottom: 0;
		.components-base-control__field {margin-bottom: 0;}
	}

	.components-range-control label {margin-bottom: 0;}
}

/*==== GB Editor Blocks List ====*/
.editor-styles-wrapper {
	--wp--custom--spacing--outer: 2rem;
	font-family: var(--secondary-font)!important;

	> .is-root-container {--wp--custom--spacing--outer: 0;}
	
	/*==== Editor Page Title ====*/
	.edit-post-visual-editor__post-title-wrapper {
		margin: 0;
		font-size: 14px;
		padding-top: 1rem;
		padding-bottom: 1rem;
		background-color: rgba(#000, 0.05);
	}

	/*==== Hidden Blocks ====*/
	.wp-block[class*="hidden"] {
		display: block;
		opacity: 0.7;
	}

	/*==== Layouts Wrapper ====*/
	.block-editor-block-list__layout {
		/*==== Reset Blocks ====*/
		.wp-block-cover {overflow: hidden;}
		.gpy-fix, .last-row {margin-bottom: -30px;}
		.px-dropdown-list {display: none!important;}
		.rich-text:not(.is-selected) {margin-top: 0;}
		.wp-block-design-px-section {outline: 1px dashed rgba(#000, 0.15);}
		p.rich-text:not([class*="lineheight"]) {line-height: var(--line-height);}
		[class*="wp-container-"] > * + *,.wp-site-blocks > * + * {--wp--style--block-gap : 0;}
	}

	/*==== Core Block Style ====*/
	.block-editor-block-list__block {
		/*==== Blocks Placeholder ====*/
		.components-placeholder {
			min-height: 0;
			padding: 20px 30px;
			border-radius: 6px;
			margin-bottom: 10px;
			.components-base-control {width: 100%;}
			.components-placeholder__label {margin-bottom: 10px;}
			.components-select-control__input {
				height: 36px;
				border-color: rgba(#000, 0.2)!important;
			}
		}

		/*==== Post Content ====*/
		&.wp-block-post-content > p {
			margin: auto;
			padding: 0 30px;
			max-width: 640px;
			margin-bottom: 10px;
			line-height: var(--line-height);
			&:first-child {padding-top: 30px;}
			&:last-child  {padding-bottom: 30px;}
		}
	}

	.block-editor-inserter {border-color: rgba(#000, 0.1);}
}

/*==== Phenix Blocks ====*/
.wp-block-phenix-column, .wp-block-phenix-row[data-type="phenix/row"] {
	&.block-editor-block-list__block, &[data-block] {
		min-width: 75px;
		padding-top: min(5px, 150px);
		padding-bottom: min(5px, 150px);
	}
}

/*==== Container Block ====*/
.wp-block-phenix-container[data-block] {
	outline: 1px dashed var(--primary-color);
	&:not([class*="pd"]) {padding: min(5px, 150px);}
	/*==== Container ====*/
	> [class*="container"] {outline: 1px dashed var(--secondary-color);}
}

/*==== Grid Blocks ====*/
.col-adaptive {flex: 1 1 0;}

.wp-block-phenix-row.block-editor-block-list__block,
.wp-block-phenix-row[data-block] {outline: 1px dashed var(--primary-color);}

.wp-block-phenix-column.block-editor-block-list__block,
.wp-block-phenix-column[data-block] {outline: 1px dashed var(--secondary-color);}

/*==== Reset Typography ====*/
.rich-content {
    /*==== Spaces ====*/
    h1,h2,h3,h4,h5,h6 {margin-bottom: 0.5rem;}
    p, ul {margin-bottom: REM(25);}

	.wp-block-columns {
		margin-left: -15px;
		margin-right: -15px;
	}

	.wp-block-column {padding: 0 15px;}
    /*==== Headine Sizes ====*/
    // h1 {font-size: REM(32);}
    // h2 {font-size: REM(28);}
    // h3 {font-size: REM(25);}
    // h4 {font-size: REM(23);}
    // h5 {font-size: REM(20);}
    // h6 {font-size: REM(17);}
}

/*==== General Component ====*/
.px-gb-component {
	//===> Chessboard Backgrounds <===//
	.bg-inherit 	{background: linear-gradient(-45deg,transparent 48%,#ddd 0,#ddd 52%,transparent 0);}
	.bg-transparent	{background: repeating-conic-gradient(#d4d4d4 0% 25%, transparent 0% 50%) 50% / 12px 12px;}

	/*==== Borders ====*/
	.options-list .px-active {outline: 1px dashed var(--primary-color);border-color: var(--primary-color);}
	.borderd-group .btn:not(:last-child) {border-#{$direction-end}: 1px solid rgba(#000, 0.1);}

	/*==== Select Buttons ====*/
	.option-control[data-type="button"] .btn, .icon-btns {
		button i {pointer-events: none;}
		.px-active {
			outline: 0 none;
			color: var(--primary-color);
		}
	}

	.option-control[data-type="button"] .btn {width: 100%;}

	.option-control[data-type="button"] input:checked ~ .btn {
		color: var(--primary-reverse);
		background-color: var(--primary-color);
	}
}

/*==== Block Icons ====*/
.pxi {
	background-size: 1em;
	background-position: center;
	background-repeat: no-repeat;
}

/*==== Align Icons ====*/
.pxi-align-x-start   {background-image: url('../img/blocks/align-x-start.svg');}
.pxi-align-x-center  {background-image: url('../img/blocks/align-x-center.svg');}
.pxi-align-x-between {background-image: url('../img/blocks/align-x-between.svg');}
.pxi-align-x-around  {background-image: url('../img/blocks/align-x-around.svg');}
.pxi-align-x-end     {background-image: url('../img/blocks/align-x-end.svg');}
.pxi-align-y-start   {background-image: url('../img/blocks/align-y-start.svg');}
.pxi-align-y-center  {background-image: url('../img/blocks/align-y-center.svg');}
.pxi-align-y-end     {background-image: url('../img/blocks/align-y-end.svg');}

/*==== Posts Editor Layout ====*/
body.post-type-post, body.post-type-post {
	.editor-styles-wrapper > .is-root-container {
		margin-left: auto;
		margin-right: auto;
		max-width: 960px!important;
		padding-top: 30px!important;
		padding-bottom: 30px!important;
		&.block-editor-block-list__layout > * {margin-bottom: 1rem;}
	}
}
