/*==== Adminbar ====*/
#wpadminbar {background-color: #171D31!important;}

/*==== Theme Options for WordPress ====*/
body:not(.wp-admin):not([class*="login"]), body.block-editor-page, .phenix-wp-design:not(.wp-admin) {
    /*==== Global ====*/
    --body-bg: var(--wp--preset--color--background);
    --typography-color: var(--wp--preset--color--text);

    /*==== Primary Color ====*/
    --white: white;
    --inherit: inherit;
    --transparent: transparent;
    --primary-color: var(--wp--preset--color--primary);
    --primary-hover: var(--wp--preset--color--primary-hvr);
    --primary-dark: var(--wp--preset--color--primary-dark);
    --primary-reverse: var(--wp--preset--color--primary-txt);
    --primary-offwhite: var(--wp--preset--color--primary-offwhite);

    /*==== Secondary Color ====*/
    --secondary-color: var(--wp--preset--color--secondary);
    --secondary-dark: var(--wp--preset--color--secondary-dark);
    --secondary-hover: var(--wp--preset--color--secondary-hvr);
    --secondary-reverse: var(--wp--preset--color--secondary-txt);
    --secondary-offwhite: var(--wp--preset--color--secondary-offwhite);

    /*=== Assets Colors ====*/
    --info-color: var(--wp--preset--color--info);
    --gray-color: var(--wp--preset--color--gray);
    --dark-color: var(--wp--preset--color--dark);
    --links-color: var(--wp--preset--color--links);
    --danger-color: var(--wp--preset--color--danger);
    --success-color: var(--wp--preset--color--success);
    --warning-color: var(--wp--preset--color--warning);
    --disable-color: var(--wp--preset--color--disable);

    /*=== Assets Lighter ====*/
    --info-light: var(--wp--preset--color--info-offwhite);
    --gray-light: var(--wp--preset--color--gray-offwhite);
    --dark-light: var(--wp--preset--color--dark-offwhite);
    --danger-light: var(--wp--preset--color--danger-offwhite);
    --success-light: var(--wp--preset--color--success-offwhite);
    --warning-light: var(--wp--preset--color--warning-offwhite);

    /*==== Components ====*/
    --component-bg-lvl-1 : var(--wp--preset--color--component-bg-lvl-1);
    --component-bg-lvl-2 : var(--wp--preset--color--component-bg-lvl-2);
    --component-bg-lvl-3 : var(--wp--preset--color--component-bg-lvl-3);
    --component-tx-lvl-1 : var(--wp--preset--color--component-tx-lvl-1);
    --component-tx-lvl-2 : var(--wp--preset--color--component-tx-lvl-2);
    --component-tx-lvl-3 : var(--wp--preset--color--component-tx-lvl-3);

    /*==== Gradients ====*/
    --primary-gradient   : var(--primary-color), var(--primary-hover);
    --secondary-gradient : var(--secondary-color), var(--secondary-hover);
    --success-gradient   : #22B567, #00A186;
    --warning-gradient   : #FAD934, #F49D1A;
    --danger-gradient    : #FD875B, #F9515A, #F96AAC;
    --water-gradient     : #00C4FF, #1A69F4;
    --ice-gradient       : #54AEFC, #3289E9, #5848D2;
    --fire-gradient      : #FFD500, #FAA10B, #F4291A;
    --purple-gradient    : #8772F7, #5F48DD;
    --primary-purple     : var(--primary-color), #5848D2;
    --blue-white         : #e9f1ff, #FFFFFF;

    /*==== Custom Colors ====*/
    --wp--preset--color--alpha-05: rgba(0,0,0, 0.05);
    --wp--preset--color--alpha-10: rgba(0,0,0, 0.10);
    --wp--preset--color--alpha-15: rgba(0,0,0, 0.15);
    --wp--preset--color--alpha-25: rgba(0,0,0, 0.25);
    --wp--preset--color--alpha-50: rgba(0,0,0, 0.50);
    --wp--preset--color--alpha-75: rgba(0,0,0, 0.75);
    --wp--preset--color--revert-05: rgba(255,255,255, 0.05);
    --wp--preset--color--revert-10: rgba(255,255,255, 0.10);
    --wp--preset--color--revert-15: rgba(255,255,255, 0.15);
    --wp--preset--color--revert-25: rgba(255,255,255, 0.25);
    --wp--preset--color--revert-50: rgba(255,255,255, 0.50);
    --wp--preset--color--revert-75: rgba(255,255,255, 0.75);
}

/*==== Helpers Fixes ====*/
.entry-content {padding: 0!important;}
.wp-block-image > a {display: block;width: inherit;}
.wp-block-phenix-icon-element img {border-radius: inherit;}
.wp-block-phenix-popup .modal-content {pointer-events: none;}
.wp-block-phenix-popup .modal-content > * {pointer-events: all;}
.main-header.position-st.is-sticky {position: fixed; width: 100%;}
.pos-overlap[data-sticky]:not(.is-sticky) {background-color: transparent;}

/*==== Video Background ====*/
.pds-video-bg {
    > video {z-index: 0;}
    > *:not(video):not(.position) {z-index: 1;}
}

/*==== Container Height Fix ====*/
.wp-block-phenix-container > [class*="container"]:not(.wp-block-phenix-container) {
    height: inherit;
    min-height: inherit;
}

/*==== Page Head ====*/
.pds-page-head {
    /*==== Alignment ====*/
    &.tx-align-end .px-breadcrumb { justify-content: end; }
    &.tx-align-center .px-breadcrumb { justify-content: center; }

    /*==== MS ====*/
    @include medium() {
        /*==== Alignment ====*/
        &.tx-align-md-end .px-breadcrumb { justify-content: end; }
        &.tx-align-md-center .px-breadcrumb { justify-content: center; }
    };
    /*==== LS ====*/
    @include large() {
        /*==== Alignment ====*/
        &.tx-align-lg-end .px-breadcrumb { justify-content: end; }
        &.tx-align-lg-center .px-breadcrumb { justify-content: center; }
    };
    /*==== XLS ====*/
    @include xlarge() {
        /*==== Alignment ====*/
        &.tx-align-xl-end .px-breadcrumb { justify-content: end; }
        &.tx-align-xl-center .px-breadcrumb { justify-content: center; }
    };
}

/*==== Group Block ====*/
a.wp-block-phenix-group {
    &:not([class*="color-"]):not([style*="color:"]):not([style*="color :"]) {color: inherit;}
    &:not(.hidden):not(.display-inline-block):not(.flexbox):not(.display-flex) {display: block;}
}

/*==== Front-End Only ====*/
body:not(.wp-admin):not([class*="-editor"]) {
    /*==== Hide Typed List ====*/
    .typed-list {display: none;}
    /*==== Marquee ====*/
    .px-marquee, .px-marquee-reverse, .marquee-slider-slides-wrapper {
        display: flex;
        overflow: hidden;
        flex-wrap: nowrap;
    }
    /*==== Disable Textarea Resizing ====*/
    textarea {resize: none;}
    /*==== Sticky Header Transition ====*/
    .main-header, [data-sticky="sticky-absolute"] {
        transition: all 0.3s ease-in-out;
        > div {transition: all 0.3s ease-in-out;}
    }
    /*==== Google Captcha Badge Hide ====*/
    .grecaptcha-badge {display: none!important;}

    /*==== Sticky Header Width Fix ====*/
    [data-sticky="sticky-absolute"].is-sticky {width: 100%;}
}

/*==== Pagination Fix ====*/
.pagination .btn > a {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

