/*==== Admin Pages ====*/
body[class*="phenix-blocks_page"], body.toplevel_page_pds-admin {
	.form-control {border: 1px solid rgba(#000, 0.15)!important;}

	.btn.square::before {
		top: -2px;
		position: relative;
	}
	
	.control-icon.error, .form-control.error, .option-control.error {
		color : var(--danger-color)!important;
		border-color : var(--danger-color)!important;
	}
	
	.control-icon.success, .form-control.success, .option-control.success {
		color: var(--success-color)!important;
		border-color: var(--success-color)!important;
	}
	
	.pds-form .tabs-navigation .btn:not(.active) {background-color: transparent;}
}

/*==== Table Reset ====*/
.um-metabox-holder table td {white-space: normal!important;}

/*==== Taxonomies Pages ====*/
body.wp-admin[class*="taxonomy-"] {
	/*==== Taxonomies Fields ====*/
	.col-wrap .form-wrap:not(.edit-term-notes) {
		border-radius: 8px;
		margin-top: #{REM(10)};
		padding-top: REM(15);
		background: #f8f8f8;
		padding-#{$direction-end}: #{REM(30)};
		padding-#{$direction-start}: #{REM(30)};
		margin-#{$direction-end}: 10px;

		/*==== Form ====*/
		#addtag {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			flex-wrap: wrap;
			gap: 15px;
			> div:not(.fluid):not(.term-description-wrap) {
				flex-grow: 1;
				width: calc(50% - 10px);
			}
			.term-description-wrap {width: 100%;}
		}

		/*==== Form Title ====*/
		h2 {
			font-size: 1rem;
			line-height: 100%;
			padding-bottom: 15px;
			border-bottom: 1px solid rgba(#000, 0.15);
		}

		/*==== Form Fields ====*/
		.form-field {
			margin-top: 0!important;
			margin-bottom: 0!important;
			label {font-size: 13px; font-weight: var(--strong-weight);}
			/*==== Fields ====*/
			select, input, textarea, .form-control, .px-select {width: 100%; max-width: 100%; border-radius: REM(6);}
			input, select, textarea, .form-control, .px-select {
				&:not([class*="mb-"]) {margin-bottom: 0!important;}
			}
			//=== Taxonomy Field Description ===//
			p[id*="description"] {display: none;}
		}
	}
}

/*==== Data Collection ====*/
.pds-admin-page {
	margin-#{$direction-start}: -19px;
	
	i {pointer-events: none;}
	
	.tabs-navigation {
		li:hover, li.px-active {
			color: var(--primary-color);
		}
	}

	.btn[name="submit"] {
		top: 0;
		position: absolute;
		-webkit-transform: translateY(-150%);
		        transform: translateY(-150%);
		#{$direction-end}: 30px;
	}
}
